<div class="modal-body wrapper-lg">
  <div class="row">
    <div class="col-sm-6 b-r">
      <h3 class="m-t-none m-b font-thin">DATOS DE PERSONA</h3>
      <p>Ingrese informacion correspondiente a: </p>
      <form role="form">
        <div class="form-group">
          <label>Nombres</label>
          <input type="text" class="form-control" ng-model="personObj.firstName" placeholder="ingres dos nombres">
        </div>
        <div class="form-group">
          <label>Apellidos</label>
          <input type="text" class="form-control" ng-model="personObj.firstLastName" placeholder="ingrese dos apellidos">
        </div>
        
        <div class="form-group">
          <label>Direccion</label>
          <input type="text" class="form-control" ng-model="personObj.address" placeholder="ingrese la direccion">
        </div>      
      </form>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
          <label>Telefono.</label>
          <input type="text" class="form-control" ng-model="personObj.address" placeholder="ingres el telefono">
      </div>
	

	<div class="form-group">
          <label>email</label>
          <input type="text" class="form-control" ng-model="personObj.email" placeholder="ingres el email">
      </div>

			<label>Tipo de identificacion: </label>
			<div class="form-group">
				<div class="col-sm-10">
					<div ng-repeat="catTId in catalogIdTypeList" class="row-fluid">
						<label class="i-checks">							
							<input type="radio" ng-model="personObj.catalogIdentificationType" value="catTId" ng-value="catTId" required />
							 <i></i> {{catTId.name}}<br />
						</label>
					</div>
				</div>
			</div>


			<div class="form-group">
				<label>Cedula o ruc:</label> <input type="text" class="form-control" ng-model="personObj.identificationNumber" placeholder="ingres la cedula">
			</div>
			<button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="savePerson()">
				<strong>Guardar</strong>
			</button>
		</div>
    
    
  </div>
</div>