<!--<iframe id="visualizador"></iframe>-->
<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">REPORTE CONFIGURACI&Oacute;N</h1>
</div>
<div class="wrapper-md" ng-controller="DetailReportController as vm">

	<div class="panel panel-default" ng-if="!vm.detailReporObj">
		<div class="panel-heading">
	    	<button ng-click="vm.newDetailReport()" class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-plus"></i>NUEVO REPORTE</button>
            <button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="refresh()"><i class="fa fa-refresh"></i>ACTUALIZAR</button>
          	<p style="float: right;">B&Uacute;SQUEDA : <input type="search" ng-model="search" class="form-control input-sm w-sm inline m-r" placeholder="B&uacute;squeda general"></p> 
    	</div>

		<div class="panel-body">
			<table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
				
					<tr ng-repeat="iterador in $data">
						<td data-title="'C&Oacute;DIGO'">{{iterador.id}}</td>
						
						<td data-title="'MODULO'">{{iterador.reportHeaderConf.module.name}}</td>

						<td data-title="'DIRECTORIO'">{{iterador.reportHeaderConf.directory}}</td>

						<td data-title="'NOMBRE REPORTE'">{{iterador.name}}</td>

						<td data-title="'ESTADO'">{{iterador.status}}</td>

						<td data-title="'ACCI&Oacute;N'" align="center">
							<div align="center" >
								<button  class="btn btn-info btn-xs"   ng-click="vm.editDetailReport(iterador)"><i class="glyphicon glyphicon-edit"></i></button>
								<button class="btn btn-success btn-xs" ng-click="vm.saveDetailReport(iterador, true)"><i class="glyphicon glyphicon-ok-circle"></i></button>
								<button class="btn btn-warning btn-xs" ng-click="vm.saveDetailReport(iterador, false)"><i class="glyphicon glyphicon-trash"></i></button>
							</div>
						</td>
					</tr>
			</table>
		</div>
	</div>

	<div ng-if="vm.detailReporObj">
			<tabset class="tab-container" ng-init="steps={percent:20, step1:true, step2:false, step3:false}">
				<tab heading="SELECCI&Oacute;N MODULOS" active="steps.step1" select="steps.percent=10">
					<div class="m-l-lg m-b-lg panel b-a bg-light lt">
						<div class="panel-body">
						<p class="m-b">PROGRESO DE CREACI&Oacute;N DE REPORTES</p>
						<progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
							    <form name="step1" class="form-validation">
							       <div class="form-group">
									<label class="col-sm-2 control-label">SELECCIONE EL DIRECTORIO </label>

										<div class="col-sm-10">
											<div class="row-fluid" ng-repeat="iterador in vm.lstReportDirectory">
												<label class="i-checks"> 
													<div ng-init="iterador.id==vm.detailReporObj.reportHeaderConf.id?( iterador=vm.detailReporObj.reportHeaderConf ):''" />
													<input type="radio" name="radio" ng-model="vm.detailReporObj.reportHeaderConf" ng-value="iterador" required /> 
													<i></i>	{{iterador.module.name}}- {{iterador.directory}}<br/>
												</label>
											</div>
										</div>
									</div>
									<div class="line line-dashed b-b line-lg pull-in"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label">NOMBRE DEL REPORTE: </label>
										<div class="col-sm-10">
											<input type="text" ng-model="vm.detailReporObj.name" class="form-control" placeholder="ingrese el nombre del reporte" required />
										</div>
									</div>

									<div class="line line-dashed b-b line-lg pull-in"></div>

									<div class="panel panel-info">
										<div class="panel-heading">
											Parametros
										</div>
										<div class="panel-body">
											<div class="table table-striped table-bordered" ng-repeat="parametroReporte in vm.lstReportParameter">

												<input class="col-md-11" ng-model="parametroReporte.parameter">

												</input>

												<div class="col-md-1 text-center pv-col-detail"
													 ng-click="vm.removerParametro(parametroReporte)">
													<i class=" glyphicon glyphicon-trash"></i>
												</div>
											</div>
										</div>
									</div>

									
								</form>
								<div class="line line-dashed b-b line-lg pull-in"></div>


								<span class="input-group-btn">
									<button class="btn btn-primary" type="button" ng-click="vm.agregarParametro()">
										<span>Agregar parametro</span>
										<i class="fa fa-plus"></i>
									</button>
								</span>
							</div>
      					</div>
						
						<div class="m-t m-b">
						          <button type="submit" ng-disabled="step1.$invalid" ng-class="step1.$invalid ? '' : 'btn-info'"  class="btn btn-default btn-rounded" ng-click="steps.step2=true">SIGUIENTE</button>
						          <button type="button" class="btn btn-warning btn-rounded" ng-click="vm.cancelDetailReport();">CANCELAR</button>
						 </div>
						 
			    	</tab>
				    
				    <tab heading="OVERVIEW" disabled="step1.$invalid" active="steps.step2" select="steps.percent=60">
				    	<div class="m-l-lg m-b-lg panel b-a bg-light lt">
						<div class="panel-body">
				    	<p class="m-b">PROGRESO DE CREACI&Oacute;N DE CAT&Aacute;LOGOS</p>
				      	<progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
			      			<div class="form-group">
								<label class="col-sm-2 control-label">MODULO:</label>
								<label class="col-sm-2 control-label">{{vm.detailReporObj.reportHeaderConf.module.name}}</label>						
							</div>
			      			
			      			<div class="line line-dashed b-b line-lg pull-in"></div>
			      			
			      			<div class="form-group">
									<label class="col-sm-2 control-label">DIRECTORIO:</label>
									<label class="col-sm-10 control-label">{{vm.detailReporObj.reportHeaderConf.directory}}</label>						
							</div>
							
							<div class="line line-dashed b-b line-lg pull-in"></div>
			      			
			      			<div class="form-group">
									<label class="col-sm-2 control-label">NOMBRE REPORTE:</label>
									<label class="col-sm-2 control-label">{{vm.detailReporObj.name}}</label>						
							</div>
			      
				      <span>
				      </span>
				      </div>
				      </div>
				      <p>PRESIONE PARA GUARDAR EL REGISTRO</p>
				      
				      <div class="m-t m-b">
				        <button type="button" class="btn btn-default btn-rounded" ng-click="steps.step1=true">ATR&Aacute;S</button>
				        <button type="button" class="btn btn-success btn-rounded" ng-click="vm.saveDetailReport(vm.detailReporObj,true)== undefined ? (steps.percent=100):''">GUARDAR</button>
				        <button type="button" class="btn btn-warning btn-rounded" ng-click="vm.cancelDetailReport();">CANCELAR</button>
				      </div>
			  	</tab>
		  </tabset>
	</div>
</div>