<!--<iframe id="visualizador"></iframe>-->
<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">REPORTE CONFIGURACION DIRECTORIOS</h1>
</div>
<div class="wrapper-md" ng-controller="HeaderReportController as vm">

	<div class="panel panel-default" ng-if="!vm.reportHeaderObj">
		<div class="panel-heading">
			<button ng-click="vm.newReportHeader()" class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-plus"></i>NUEVO DIRECTORIO</button>
	        <button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="refresh()"><i class="fa fa-refresh"></i>ACTUALIZAR</button>
		    <p style="float: right;">B&Uacute;SQUEDA : <input type="search" ng-model="search" class="form-control input-sm w-sm inline m-r" placeholder="B&uacute;squeda general"></p> 
	    </div>
	    
		<div class="panel-body">
				<table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
					<tr ng-repeat="iterador in $data">
						<td data-title="'C&Oacute;DIGO'">{{iterador.id}}</td>
						
						<td data-title="'MODULO'">{{iterador.module.name}}</td>

						<td data-title="'DIRECTORIO'">{{iterador.directory}}</td>

						<td data-title="'ESTADO'">{{iterador.status}}</td>
							
						<td data-title="'ACCI&Oacute;N'">
							<div align="center">
								<button  class="btn btn-info btn-xs"   ng-click="vm.editReportHeader(iterador)"><i class="glyphicon glyphicon-edit"></i></button>
								<button class="btn btn-success btn-xs" ng-click="vm.saveReportHeader(iterador, true)"><i class="glyphicon glyphicon-ok-circle"></i></button>
								<button class="btn btn-warning btn-xs" ng-click="vm.saveReportHeader(iterador, false)"><i class="glyphicon glyphicon-trash"></i></button>
							</div>
						</td>
					</tr>
			</table>
		</div>
	</div>


	<div ng-if="vm.reportHeaderObj">
			<tabset class="tab-container" ng-init="steps={percent:20, step1:true, step2:false, step3:false}">
				<tab heading="SELECCI&Oacute;N MODULOS" active="steps.step1" select="steps.percent=10">
					<div class="m-l-lg m-b-lg panel b-a bg-light lt">
						<div class="panel-body">
						<p class="m-b">PROGRESO DE CREACI&Oacute;N DE DIRECTORIOS DE REPORTES</p>
						<progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
							    <form name="step1" class="form-validation">
							       <div class="form-group">
									<label class="col-sm-2 control-label">SELECCIONE EL M&Oacute;DULO </label>
									</br>
										<div class="col-sm-10">
											<div class="row-fluid" ng-repeat="iterador in vm.lstModules">
												<label class="i-checks"> 
													<div ng-init="iterador.id==vm.reportHeaderObj.module.id?( iterador=vm.reportHeaderObj.module ):''" />
																<div ng-init="vm.selectGroup(vm.reportHeaderObj.catalogGroup)" />
																<input type="radio" name="radio" ng-model="vm.reportHeaderObj.module" ng-change="vm.selectGroup(iterador)" ng-value="iterador" required /> 
													<i></i>	{{iterador.name}}<br/>
												</label>
											</div>
										</div>
									</div>
									<div class="line line-dashed b-b line-lg pull-in"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label">DIRECTORIO: </label>
										<div class="col-sm-10">
											<input type="text" ng-model="vm.reportHeaderObj.directory" class="form-control" placeholder="ingrese el directorio del modulo" required />
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="m-t m-b">
						          <button type="submit" ng-disabled="step1.$invalid" class="btn btn-default btn-rounded" ng-click="steps.step2=true">SIGUIENTE</button>
						          <button type="button" class="btn btn-warning btn-rounded" ng-click="vm.cancelReportHeader();">CANCELAR</button>
						 </div>
			    	</tab>
				    
				    <tab heading="OVERVIEW" disabled="step1.$invalid" active="steps.step2" select="steps.percent=60">
				    	<div class="m-l-lg m-b-lg panel b-a bg-light lt">
						<div class="panel-body">
				    	<p class="m-b">PROGRESO DE CREACI&Oacute;N DE CAT&Aacute;LOGOS</p>
				      	<progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
			      			<div class="form-group">
								<label class="col-sm-2 control-label">MODULO:</label>
								<label class="col-sm-2 control-label">{{vm.reportHeaderObj.module.name}}</label>						
							</div>
			      			
			      			<div class="line line-dashed b-b line-lg pull-in"></div>
			      			
			      			<div class="form-group">
									<label class="col-sm-2 control-label">DIRECTORIO:</label>
									<label class="col-sm-10 control-label">{{vm.reportHeaderObj.directory}}</label>						
							</div>
			      
				      <span>
				      </span>
				      </div>
				      </div>
				      <p>PRESIONE PARA GUARDAR EL REGISTRO</p>
				      
				      <div class="m-t m-b">
				        <button type="button" class="btn btn-default btn-rounded" ng-click="steps.step1=true">ATR&Aacute;S</button>
				        <button type="button" class="btn btn-success btn-rounded" ng-click="vm.saveReportHeader(vm.reportHeaderObj,true)== undefined ? (steps.percent=100):''">GUARDAR</button>
				        <button type="button" class="btn btn-warning btn-rounded" ng-click="vm.cancelReportHeader();">CANCELAR</button>
				      </div>
			  	</tab>
		  </tabset>
	</div>
</div>