<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">TRANSPORTISTA</h1>
</div>
<div class="wrapper-md" ng-controller="dispatcherController as vm">
<div>
	<alert ng-repeat="alert in vm.alerts" type="{{alert.type}}">{{alert.msg}}</alert>
</div>

	<div ng-if="!vm.dispatcherDto">
	<div class="panel panel-default">
        <div class="panel-heading">
	    	<button ng-click="vm.newDispatcher()" class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-plus"></i>NUEVO TRANSPORTISTA</button>
            <button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="refresh()"><i class="fa fa-refresh"></i>ACTUALIZAR</button>
            <p style="float: right;">B&Uacute;SQUEDA : <input type="search" ng-model="search" class="form-control input-sm w-sm inline m-r" placeholder="B&Uacute;SQUEDA GENERAL"></p> 
        </div>

		<div class="panel-body">
			 <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
                	<tr ng-repeat="iterator in $data">
						<td data-title="'ID'">{{iterator.id}}</td>
						<td data-title="'NOMBRES'">{{iterator.person.fullName}}</td>
						<td data-title="'C&Eacute;DULA'">{{iterator.person.identificationNumber}}</td>
						<td align="center" data-title="'ESTADO'">{{iterator.status}}</td>
						<td data-title="'ACCI&Oacute;N'" align="center">
							<div class="text-center" style="width:100px">
								<button  class="btn btn-info btn-xs" ng-click="vm.editDispatcher(iterator)"><i class="glyphicon glyphicon-edit"></i></button>
								<button class="btn btn-success btn-xs" ng-click="vm.guardarTransportista(iterator,true)"><i class="glyphicon glyphicon-ok-circle"></i></button>
								<button class="btn btn-danger btn-xs"  ng-click="vm.guardarTransportista(iterator,false)"><i class="glyphicon glyphicon-trash"></i></button>
							</div>
						</td>
					</tr>
                </table>
		</div>
		</div>
	</div>



	<div ng-if="vm.dispatcherDto" class="padder">
		<form name="formPerson" class="form-validation">
			<div class="m-l-lg m-b-lg panel b-a bg-light lt">
				<div class="panel-body">
					<div>
						<div class="panel-heading font-bold">INGRESE DATOS DEL TRANSPORTISTA</div>
						<div class="panel-body">
							<div class="form-group has-error">
								<label class="col-sm-2 control-label">Primer Nombre:</label>
								<div class="col-sm-10">
									<input ng-disabled="vm.dispatcherDto.opcion==true || vm.dispatcherDto.id == undefined ? false:true" type="text"
										style="text-transform:uppercase" type="text"
										placeholder="campo obligatorio"
										ng-model="vm.dispatcherDto.person.firstName" 
										class="form-control" required />
								</div>
							</div>

							<div class="line line-dashed b-b line-lg pull-in"></div>
							<div class="form-group has-error">
								<label class="col-sm-2 control-label">Segundo Nombre:</label>
								<div class="col-sm-10">
									<input ng-disabled="vm.dispatcherDto.opcion==true || vm.dispatcherDto.id == undefined ? false:true" type="text"
										style="text-transform:uppercase" type="text"
										placeholder="campo opcional"
										ng-model="vm.dispatcherDto.person.secondName"
										class="form-control"/>
								</div>
							</div>
							<div class="line line-dashed b-b line-lg pull-in"></div>
							<div class="form-group has-error">
								<label  class="col-sm-2 control-label">Primer Apellido: </label>
								<div class="col-sm-10">
									<input ng-disabled="vm.dispatcherDto.opcion==true || vm.dispatcherDto.id == undefined ? false:true" type="text" ng-model="vm.dispatcherDto.person.firstLastName"
										style="text-transform:uppercase" type="text"
										class="form-control"
										placeholder="campo oblogatorio"
										required />
								</div>
							</div>
							<div class="line line-dashed b-b line-lg pull-in"></div>
							<div class="form-group has-error">
								<label class="col-sm-2 control-label">Segundo Apellido: </label>
								<div class="col-sm-10">
									<input ng-disabled="vm.dispatcherDto.opcion==true || vm.dispatcherDto.id == undefined ? false:true" type="text" ng-model="vm.dispatcherDto.person.secondLastName"
										style="text-transform:uppercase" type="text"
										class="form-control"
										placeholder="campo obligatorio"
										required />
								</div>
							</div>


							<div class="line line-dashed b-b line-lg pull-in"></div>
							<div class="form-group has-error">
								<label class="col-sm-2 control-label">Direcci&oacute;n:</label>
								<div class="col-sm-10">
									<input ng-disabled="vm.dispatcherDto.opcion==true || vm.dispatcherDto.id == undefined ? false:true" type="text" ng-model="vm.dispatcherDto.person.address"
										type="text"
										class="form-control"
										placeholder="ingrese la direcci&oacute;n del cliente" required />
								</div>
							</div>

							<div class="line line-dashed b-b line-lg pull-in"></div>
							
							<div class="form-groups">
								<ui-number-identification
									tag-option ="3"
									tag-number="vm.dispatcherDto.person.identificationNumber"
									tag-identification-type="vm.dispatcherDto.person.catalogIdentificationType"
									tag-validator="vm.numeroValidado"> </ui-number-identification>
							</div>
							
							<div ng-if="vm.dispatcherDto.person.id ? (vm.numeroValidado = true):(vm.numeroValidado = false)" ></div>
							
							<div class="line line-dashed b-b line-lg pull-in"></div>
							<div class="form-group has-error">
								<label class="col-sm-2 control-label">T&eacute;lefono:</label>
								<div class="col-sm-10">
									<input ng-disabled="vm.dispatcherDto.opcion==true || vm.dispatcherDto.id == undefined ? false:true" mask="(99) 9 999-999" type="text" ng-model="vm.dispatcherDto.person.phone"
										type="text"
										class="form-control"
										placeholder="(99) 9 999-999"
										required />
								</div>
							</div>
							
							<div class="line line-dashed b-b line-lg pull-in"></div>
							<div class="form-group has-success">
								<label class="col-sm-2 control-label">Email:</label>
								<div class="col-sm-10">
									<input  ng-disabled="vm.dispatcherDto.opcion==true || vm.dispatcherDto.id == undefined ? false:true" type="email" ng-model="vm.dispatcherDto.person.email"
										class="form-control"
										placeholder="campo opcional"
										/>
								</div>
							</div>
							
							<div class="line line-dashed b-b line-lg pull-in"></div>
							<div class="form-group has-error">
								<label class="col-sm-2 control-label">Observaci&oacute;n:</label>
								<div class="col-sm-10">
									<input type="text" ng-model="vm.dispatcherDto.description"
										type="text"
										class="form-control"
										placeholder="ingrese una descripci&oacute;n"/>
								</div>
							</div>
							
						</div>
					</div>
					
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label"> M&aacute;s informaci&oacute;n ?</label>
						<div class="col-sm-2"
							ng-init="vm.dispatcherDto.opcion ==null?( vm.dispatcherDto.opcion = false): (vm.dispatcherDto.opcion== true)">
							<label class="i-switch bg-primary m-t-md m-r"> <input
								ng-model="vm.dispatcherDto.opcion" type="checkbox" checked /> <i></i></label>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="vm.dispatcherDto.opcion"  class="animated fadeInRight m-l-lg m-b-lg panel b-a bg-light lt">
				<div class="panel-body">
					<div>
						<div class="panel-heading font-bold">INGRESE DATOS DE LA PERSONA</div>
						<div class="panel-body">

							<div class="line line-dashed b-b line-lg pull-in"></div>
				                    <div>
				                        <label class="col-sm-2 control-label">Fecha de nacimiento:</label>
				                    </div>
				                    <div >
				                        <div class="col-sm-10 has-error" ng-controller="DatepickerDemoCtrl">
				                            <div class="input-group w-md">
				                                <input type="text" class="form-control" ng-disabled="activeDirective" datepicker-popup="{{format}}" ng-model="vm.dispatcherDto.person.birthDate" is-open="opened" datepicker-options="dateOptions" close-text="Close" required/> 
				                                <span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="open($event)">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
												</span>
				                            </div>
				                        </div>
				                    </div>


							<div class="line line-dashed b-b line-lg pull-in"></div>
							<div class="form-group">
								<div >
									<div >
										<label class="col-sm-2 control-label">Sexo:
										</label> 
									</div>
									<div class="panel-body">
		                        <div class="col-sm-10">
		                            <div class="row-fluid" ng-init="catSex.id==vm.dispatcherDto.person.catalogSex.id?(catSex=vm.dispatcherDto.person.catalogSex):''" 
		                            ng-repeat="catSex in vm.catalogSexList">
		                                <label class="i-checks">
		                                    <input type="radio" ng-model="vm.dispatcherDto.person.catalogSex" ng-value="catSex"  required /> <i></i>
		                                    {{catSex.name}}<br />
		                                </label>
		                            </div>
		                        </div>
                    			</div>
								</div>
							</div>
							
							<div class="line line-dashed b-b line-lg pull-in"></div>
							<div class="form-group">
								<div >
									<div >
										<label class="col-sm-2 control-label" >Estado civil:
										</label> 
									</div>
									<div class="panel-body">
		                        <div class="col-sm-10">
		                             <div class="row-fluid" ng-repeat="catMaritalStatus in vm.catalogMStatusList">
                                <label class="i-checks">
                                    <div ng-init="catMaritalStatus.id==vm.dispatcherDto.person.catalogMaritalStatus.id?(catMaritalStatus=vm.dispatcherDto.person.catalogMaritalStatus):''" />
                                    <input type="radio" ng-model="vm.dispatcherDto.person.catalogMaritalStatus" ng-value="catMaritalStatus" ng-disabled="activeDirective" required />
                                    <i></i> {{catMaritalStatus.name}}<br />
                                </label>
                            </div>
		                        </div>
                    			</div>
								</div>
							</div>
							<div class="line line-dashed b-b line-lg pull-in"></div>
							<div class="form-group">
								<div >
									<div >
										<label class="col-sm-2 control-label">Tipo persona:
										</label> 
									</div>
									<div class="panel-body">
		                        <div class="col-sm-10">
		                            <div class="row-fluid" ng-repeat="prnType in vm.catalogLstPrnType">
		                            <div ng-init="prnType.id==vm.dispatcherDto.person.catalogPersonType.id?(prnType=vm.dispatcherDto.person.catalogPersonType):''" />
		                                <label class="i-checks">
		                                    <input type="radio" ng-model="vm.dispatcherDto.person.catalogPersonType" ng-value="prnType"  required /> <i></i>
		                                    {{prnType.name}}<br />
		                                </label>
		                            </div>
		                        </div>
                    			</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		
			</div>
			<div>
				<div class="m-b-sm">
					<div class="row">
						<button type="submit"
							ng-click="formPerson.$valid ? vm.guardarTransportista(vm.dispatcherDto,true):vm.alertRequiredFields()"
							href class="btn btn-info col-sm-6">GUARDAR</button>
						<button type="reset" href class="btn btn-warning col-sm-6"
							ng-click="vm.cancel();">CANCELAR</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
