<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">ENTIDAD DE PAGO</h1>
</div>
<div class="wrapper-md" ng-controller="PaymentInstitutionController as vm">
<alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" >{{alert.msg}}</alert>

	<div class="panel panel-default" ng-show="!vm.paymentInstitutionObj">

		
		
		 <div class="panel-heading">
	    	<button ng-click="vm.newPaymentInstitution()" class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-plus"></i>NUEVA </button>
            <button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="refresh()"><i class="fa fa-refresh"></i>ACTUALIZAR</button>
            <p style="float: right;">B&Uacute;SQUEDA : <input type="search" ng-model="search" class="form-control input-sm w-sm inline m-r" placeholder="B&Uacute;SQUEDA GENERAL"></p> 
        </div>

		<div class="panel panel-default">
			
			<div class="panel-body">

				<table ng-table="vm.tableParams" class="table table-hover table-striped" show-filter="true">
					<thead>
						<tr>
							<th>NOMBRE</th>
							<th>I. FINANCIERA</th>
							<th>ESTADO</th>
							<th>ACCI&Oacute;N</th>
						</tr>
					</thead>
					<tr ng-repeat="paymenInstitution in vm.lstPaymentInstitutions">
						<td  style="width:900px">{{paymenInstitution.name}}</td>
						<td style="width:900px">{{paymenInstitution.card}}</td>
						<td style="width:900px">{{paymenInstitution.status}}</td>
						<td>
							
							<div class="text-center" style="width:200px">
								<button  class="btn btn-info btn-xs" ng-click="vm.editPaymentInstitution(paymenInstitution)"><i class="glyphicon glyphicon-edit"></i></button>
								<button class="btn btn-success btn-xs" ng-click="vm.activeStatus(paymenInstitution)"><i class="glyphicon glyphicon-ok-circle"></i></button>
								<button class="btn btn-warning btn-xs" ng-click="vm.inactiveStatus(paymenInstitution)"><i class="glyphicon glyphicon-ban-circle"></i></button>
							</div>
						</td>
							
						</td>
					</tr>
				</table>

			</div>
		</div>
	</div>

	<form name="form" class="form-validation" ng-show="vm.paymentInstitutionObj">
		<div class="panel panel-default">

			<div class="panel panel-default">
				<div class="panel-heading font-bold">INFORMACI&Oacute;N DE LA ENTIDAD DE PAGO</div>
				<div class="panel-body">


					<div class="form-group">
						<label class="col-sm-2 control-label">Nombre: </label>
						<div class="col-sm-10">
							<input type="text" ng-model="vm.paymentInstitutionObj.name"
								class="form-control" placeholder="ingrese el nombre de la entidad de pago"
								required />
						</div>
					</div>



					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Es targeta:</label>
						<div class="col-sm-10" >
							<label class="i-switch i-switch-md bg-info m-t-xs m-r"> <input
								ng-model="vm.paymentInstitutionObj.card" type="checkbox" checked /> <i></i></label>
						</div>
					</div>

					<div class="line line-dashed b-b line-lg pull-in"></div>
				</div>

			</div>

		</div>
		     <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-sm" ng-click="vm.cancelPaymentInstitution();">Cancelar</button>

                            <button ng-disabled="form.$invalid" ng-click="vm.savePaymentInstitution()"
                                    class="btn btn-sm btn-primary">Guardar</button>
                        </div>
                    </div>
	</form>
</div>