<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">VENDEDORES</h1>
</div>
<div class="wrapper-md" ng-controller="SellerController as vm">

	<div class="panel panel-default" ng-if="!vm.sellerObj">

		<button ng-click="vm.newSeller()" class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-plus"></i>Nuevo Vendedor</button>

		<div class="panel panel-default">
			<div class="panel-heading font-bold">VENDEDORES</div>
			<div class="panel-body">

				<table ng-table="vm.tableParams" class="table" show-filter="true">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Direccion</th>
							<th>Estado</th>
							<th>Accion</th>
						</tr>
					</thead>
					<tr ng-repeat="seller in $data">
						<td>{{seller.name}}</td>
						<td>{{seller.address}}</td>
						<td>{{seller.status}}</td>

						<td>
							<div class="col-md-3 col-sm-4">
								<a ng-click="vm.editSeller(seller)" class="glyphicon glyphicon-edit"></a>
							</div>
						</td>
					</tr>
				</table>

			</div>
		</div>
	</div>



	<form name="form" class="form-validation" ng-if="vm.sellerObj">
		<div class="panel panel-default">

			<div class="panel panel-default">
				<div class="panel-heading font-bold">Datos Vendedor</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-2 control-label">Nombre: </label>
						<div class="col-sm-10">
							<input type="text" ng-model="vm.sellerObj.name"
								class="form-control" placeholder="ingrese el nombre de la bodega"
								required />
						</div>
					</div>
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Direccion de bodega</label>
						<div class="col-sm-10">
							<input type="text"
								placeholder="ingrese la direccion de la bodega"
								ng-model="vm.sellerObj.address" name="address"
								class="form-control" required />
						</div>
					</div>

					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Estado</label>
						<div class="col-sm-10">
							<label class="i-switch i-switch-md bg-info m-t-xs m-r"> <input
								ng-model="vm.sellerObj.status" type="checkbox" checked /> <i></i></label>
						</div>
					</div>

					<div class="line line-dashed b-b line-lg pull-in"></div>
				</div>

			</div>

		</div>
		     <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-sm" ng-click="vm.cancelSeller();">Cancelar</button>

                            <button ng-disabled="form.$invalid" ng-click="vm.saveSeller()"
                                    class="btn btn-sm btn-primary">Guardar</button>
                        </div>
                    </div>
	</form>
</div>