<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">FORMAS DE PAGO</h1>
</div>


<div class="wrapper-md" ng-controller="WayPayController as vm">
<alert ng-repeat="alert in vm.alerts" type="{{alert.type}}">{{alert.msg}}</alert>
	<div class="panel panel-default" ng-if="!vm.wayPayObj">
		<div class="panel-heading">
			<button ng-click="vm.newWayPay()"
				class="btn m-b-xs btn-sm btn-primary btn-addon">
				<i class="fa fa-plus"></i>NUEVA FORMA PAGO
			</button>
			<button class="btn m-b-xs btn-sm btn-success btn-addon"
				ng-click="refresh()">
				<i class="fa fa-refresh"></i>ACTUALIZAR
			</button>
			<p style="float: right;">
				B&Uacute;SQUEDA : <input type="search" ng-model="search"
					class="form-control input-sm w-sm inline m-r"
					placeholder="B&uacute;squeda general">
			</p>
		</div>


		<div class="panel panel-default" ng-if="!vm.wayPayObj">



			<div class="panel-body">
				<table ng-table="vm.tableParams" class="table table-hover table-striped" show-filter="true">
					<thead>
						<tr>
							<th>ID</th>
							<th>NOMBRE</th>
							<th>TIPO</th>
							<th>ESTADO</th>
							<th>ACCI&Oacute;N</th>
						</tr>
					</thead>
					<tr ng-repeat="wayPay in $data">
						<td >{{wayPay.id}}</td>
						<td >{{wayPay.name}}</td>
						<td class="text-center">{{wayPay.catalogPayType.name}}</td>
						<td class="text-center">
							<i class="glyphicon"
							   ng-class="{true: 'glyphicon-ok-circle', false: 'glyphicon-ban-circle'}[wayPay.status]"></i>
						</td>

						<td class="text-center">
							<div>
								<button  class="btn btn-info btn-xs" ng-click="vm.editWayPay(wayPay)"><i class="glyphicon glyphicon-edit"></i></button>
								<button class="btn btn-success btn-xs" ng-click="vm.activeStatus(wayPay)"><i class="glyphicon glyphicon-ok-circle"></i></button>
								<button class="btn btn-warning btn-xs" ng-click="vm.inactiveStatus(wayPay)"><i class="glyphicon glyphicon-ban-circle"></i></button>
							</div>
							
						</td>
					</tr>
				</table>

			</div>

		</div>
	</div>



	<div ng-if="vm.wayPayObj">
		<tabset class="tab-container" ng-init="steps={percent:20, step1:true, step2:false, step3:false}">
		<tab heading="TIPO DE PAGO" active="steps.step1" 	select="steps.percent=10">
		<div class="m-l-lg m-b-lg panel b-a bg-light lt">
			<div class="panel-body">
			<p class="m-b">PROGRESO DE CREACI&Oacute;N DE LAS FORMAS DE PAGO</p>
			<progressbar value="steps.percent"  class="progress progress-sm progress-striped active m-t-xs m-b-none" type="info"  ></progressbar>
			</br>
			</br>
			<p class="m-b">SELECCIONE EL TIPO DE PAGO: </p>
				<form name="step1" class="form-validation">
							<div class="form-group">
								<label class="col-sm-2 control-label">Tipo pago: </label>						
								<div class="col-sm-10">
									<div ng-repeat="catPayType in vm.catalogPayTypeList" class="row-fluid">
									<label class="i-checks">
										<div ng-init="catPayType.id == vm.wayPayObj.catalogPayType.id ? ( catPayType = vm.wayPayObj.catalogPayType):''" />
										<div ng-init="vm.selectOption(vm.wayPayObj.catalogPayType)" />
										<input type="radio" ng-model="vm.wayPayObj.catalogPayType" ng-change="steps.percent=30" value ="catPayType" ng-value="catPayType" required/> 
										<i></i> {{catPayType.name}}<br />								
									</label>
									</div>
								</div>
							</div>
					</br>
					</br>
				</form>
			</div>
		</div>
			<div class="m-b-sm">
				<div class="btn-group btn-group-justified" ng-init="step1.$invalid= true ">
		         <a ng-disabled="step1.$invalid"  href class="btn btn-info" ng-click="steps.step2=true" >SIGUIENTE</a>
		         <a href class="btn btn-warning" ng-click="vm.cancelWayPay();">CANCELAR</a>
		        </div>
	        </div>
		</tab> 
		
		<tab heading="FORMA DE PAGO" disabled="step1.$invalid" active="steps.step2" select="steps.percent=30">
		<div class="m-l-lg m-b-lg panel b-a bg-light lt">
			<div class="panel-body">
				<form name="step2" class="form-validation">
					
					<p class="m-b">PROGRESO DE CREACI&Oacute;N DE LAS FORMAS DE PAGO</p>
					<progressbar value="steps.percent"  class="progress progress-sm progress-striped active m-t-xs m-b-none" type="info"  ></progressbar>
					</br>
					</br>
					
					<div ng-if="step2.$invalid && step1.$invalid ? false : true">
					
					<div  ng-show="step1.$invalid && step2.$invalid ? (steps.percent=1)  : (steps.percent=30) ">
					</div>
					</div>
					
					<div ng-if="!step1.$invalid && !step2.$invalid ">
					
					<div  ng-show="step1.$invalid && step2.$invalid ? (steps.percent=30)  : (steps.percent=60)">
					</div>
					</div>	
					
					<p class="m-b">INGRESE LA INFORMACI&Oacute;N CORRESPONDIENTE FORMA DE PAGO</p>		
						<div class="form-group">
							<label class="col-sm-2 control-label">Nombre del forma de pago: </label>
							<div class="col-sm-10">
								<input type="text" ng-model="vm.wayPayObj.name" class="form-control" placeholder="ingrese el nombre de la forma de pago " required />
							</div>
						</div>
						<div class="line line-dashed b-b line-lg pull-in"></div>	
						<div class="form-group">
							<label class="col-sm-2 control-label">Nombre del Rango:</label>
							<div class="col-sm-10">	
								<input type="text" ng-model="vm.rangeDayObj.name" class="form-control" placeholder="ingrese el nombre del cat&aacute;logo"	required />
							</div>
						</div>
						
						<div ng-if="vm.rangeDayObj.since < vm.rangeDayObj.until ? (step2.$invalid= false):(step2.$invalid= true)"></div>
						 <div class="line line-dashed b-b line-lg pull-in"></div>	
						 <div class="form-group">
			                <label class="col-sm-2 control-label">Desde: </label>
			                <div class="col-sm-10">
			                  <input type="number" class="form-control" placeholder="n&uacute;mero m&iacute;nino = 1" ng-model="vm.rangeDayObj.since" ui-validate=" '$value >= 1' " required>
			                </div>
			              </div>
					
					      <div class="line line-dashed b-b line-lg pull-in"></div>
			              <div class="form-group">
			                <label class="col-sm-2 control-label">Hasta: </label>
			                <div class="col-sm-10">
			                  <input type="number" class="form-control" placeholder="n&uacute;mero m&aacute;ximo = 10000" ng-model="vm.rangeDayObj.until" ui-validate=" '$value <= 10000' " required>
			                </div>
			              </div>
				</form>
        		</div>
        	</div>
        	<div class="m-b-sm">
					<div class="btn-group btn-group-justified">
				         <a ng-click="steps.step1=true" href class="btn btn-primary"> ATRAS</a>
				         <a ng-disabled="step2.$invalid" href class="btn btn-info" ng-click="steps.step3=true">SIGUIENTE </a>
				         <a href class="btn btn-warning" ng-click="vm.cancelWayPay();">CANCELAR</a>	
			        </div>
		    </div>
		</tab> 
		
		<tab heading="RESUMEN DE REGISTRO A CREAR" disabled="step2.$invalid" active="steps.step3" select="steps.percent=100">
			<div class="m-l-lg m-b-lg panel b-a bg-light lt">
				<div class="panel-body">
				<p class="m-b">PROGRESO DE CREACI&Oacute;N DE CAT&Aacute;LOGOS</p>
	 			<progressbar value="steps.percent"  class="progress progress-sm progress-striped active m-t-xs m-b-none" type="info"  ></progressbar>
				</br>
				</br>
		
				<div class="form-group">
					<label class="col-sm-2 control-label">TIPO:</label> <label
						class="col-sm-2 control-label">{{vm.wayPayObj.catalogPayType.name}}</label>
				</div>

				<div class="line line-dashed b-b line-lg pull-in"></div>

		<div class="form-group">
			<label class="col-sm-2 control-label">NOMBRE:</label> <label
				class="col-sm-2 control-label">{{vm.wayPayObj.name}}</label>
		</div>

		<div class="line line-dashed b-b line-lg pull-in"></div>
		<div class="form-group">
			<label class="col-sm-2 control-label">RANGO:</label> <label
				class="col-sm-2 control-label">{{vm.rangeDayObj.name}}</label>
		</div>
		
		<div class="line line-dashed b-b line-lg pull-in"></div>
		<div class="form-group">
			<label class="col-sm-2 control-label">DESDE:</label> <label
				class="col-sm-2 control-label">{{vm.rangeDayObj.since}}</label>
		</div>

		<div class="line line-dashed b-b line-lg pull-in"></div>
		<div class="form-group">
			<label class="col-sm-2 control-label">HASTA:</label> <label
				class="col-sm-2 control-label">{{vm.rangeDayObj.until}}</label>
		</div>

		<div class="line line-dashed b-b line-lg pull-in"></div>
		</div>
		</div>
		<div class="btn-group btn-group-justified">
	         <a ng-click="steps.step2=true" href class="btn btn-primary"> ATRAS</a>
	         <a href class="btn btn-success" ng-click="vm.saveWayPay()== undefined ? (steps.percent=100):''" ng-click="steps.step3=true">GUARDAR</a>
	         <a href class="btn btn-warning" ng-click="vm.cancelWayPay();">CANCELAR</a>	
        </div>
		</tab> 
	 </tabset>
	</div>
</div>