<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3" translate="aside.nav.modules.facturacion.fac">FACTURA</h1>
</div>

<div class="wrapper-md" ng-controller="WizardInvoiceController as vm">

    <div ng-include src="'tpl/pyxme/invoice/wizardbill-modal.html'"/>

    <alert ng-repeat="alert in vm.alerts" type="{{alert.type}}">{{alert.msg}}</alert>

    <div ng-if="!vm.invoiceObj && vm.visualizacion ? (vm.resultado= true) :(vm.resultado= false) "/>
    <div ng-if="vm.resultado" class="animated fadeInDown delay">
        <ui-reporte-factura tag-factura="vm.factura">
            <div class="col-xs-6 text-right">
                <p>
                    <button class="btn btn-danger" ng-click="vm.openRevokeInvoiceModal()"><i class="fa fa-ban"></i>
                        ANULAR
                    </button>
                </p>
            </div>
        </ui-reporte-factura>
        <div class="m-b-sm">
            <div class="btn-group btn-group-justified">
                <a href class="btn btn-primary" ng-click="vm.imprimirReporte(vm.factura,'visualizar')">PDF</a>
                <a href class="btn btn-warning" ng-click="vm.cancelInvoice()"
                   translate="label.global.cancelar">CANCELAR</a>
            </div>
        </div>
    </div>


    <div ng-if="vm.variablesFacturacion.configuracionFactura != undefined && vm.variablesFacturacion.configuracionFactura == 'true' ? true : false">

        <div class="panel panel-default" ng-if="!vm.invoiceObj && !vm.resultado ? true : false ">

            <div class="panel-heading">
                <button ng-click="vm.newInvoice()" class="btn m-b-xs btn-sm btn-primary btn-addon"><i
                        class="fa fa-plus"></i>
                    <span translate="label.global.nuevo"></span>
                </button>
                <button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="vm.abrirPanelProducto()"><i
                        class="fa fa-refresh"></i>
                    <span translate="label.global.actualizar"></span>
                </button>
                <p style="float: right;" ng-if="false">
                    <span translate="label.global.busqueda"></span> :
                    <input type="search" ng-model="search" class="form-control input-sm w-sm inline m-r"
                           placeholder="B&Uacute;SQUEDA GENERAL">
                </p>
            </div>

            <div class="panel-body">
                <table ng-table="vm.tableParams"
                       class="table table-condensed table-bordered table-striped"
                       show-filter="true">

                    <tr ng-repeat="invoice in $data">
                        <td data-title="'label.global.codigo' | translate" sortable="'id'">
                            {{invoice.id}}
                        </td>
                       	
                       	<td data-title="'Fecha de Factura'">
                            {{invoice.elaborationDate}}
                        </td>
                        
                        <td data-title="'label.modulo.facturacion.numero' | translate" filter="{number:'text'}" sortable="'number'">{{invoice.number}}</td>

                        <td data-title="'label.modulo.facturacion.cliente' | translate" filter="{customerA.comercialName:'text'}" sortable="'customerA.comercialName'">
                            {{invoice.customer.comercialName}}{{' '}} {{invoice.customer.razonSocial}}
                        </td>

					

                        <td data-title="'label.modulo.facturacion.total' | translate" class="text-right">
                            {{invoice.totalValue}}
                        </td>

                        <td data-title="'label.global.estado' | translate" class="text-center" sortable="'catalogStatusA.name'">
                            {{invoice.catalogStatus.name}}
		                </td>
		                
		                <td data-title="'Clave de acceso'">
                            {{invoice.accesKey}}
                        </td>
						
						<td data-title="'Autorizaci&oacute;n'">
                            {{invoice.einvoiceStatus}}
                        </td>

                        <td data-title="'label.global.accion' | translate">
                            <div class="text-center row">
                                <button class="btn btn-primary btn-xs col-sm-4" ng-click="vm.visualizarFactura(invoice)"><i
                                        class="glyphicon glyphicon-eye-open" title="Visualizar factura"></i></button>
                                <button class="btn btn-info btn-xs col-sm-4" ng-click="vm.viewReport(invoice,'descargar')"><i
                                        class="glyphicon glyphicon-cloud-download" title="Descargar factura"></i></button>
                                <button class="btn btn-primary btn-xs col-sm-4" ng-click="vm.processEInvoice(invoice)"><i
                                        class="fa fa-cloud-upload" title="Procesar factura"></i></button>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>


        <div ng-if="vm.invoiceObj && !vm.resultado ? true : false" class="animated fadeInDown delay">
            <div ng-include src="'tpl/pyxme/invoice/w_detalle_factura.html'"/>
        </div>
    </div>


    <div class="modal-over bg-black"
         ng-if="vm.variablesFacturacion.configuracionFactura == undefined || vm.variablesFacturacion.configuracionFactura == 'false' ? true : false">
        <div class="bg-light lter b-b wrapper-md">

        </div>

        <div>

            <div class="modal-center animated fadeInRight w text-center" style="width:400px;margin:-10% 0 0 -10%;">

                <div class="panel b-a">
                    <div class="panel-heading text-center bg-info no-border">
                        <h4 class="text-u-c m-b-none">Empezar</h4>
                        <h2 class="m-t-none">
                            <sup class="pos-rlt" style="top:-22px">$</sup>
                            <span class="text-2x text-lt">10</span>
                            <span class="text-xs">/ mens</span>
                        </h2>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <i class="icon-check text-success m-r-xs"></i> Administracion de clientes
                        </li>
                        <li class="list-group-item">
                            <i class="icon-check text-success m-r-xs"></i> Administracion de articulos
                        </li>
                        <li class="list-group-item">
                            <i class="icon-check text-success m-r-xs"></i> Administracion de clientes
                        </li>
                        <li class="list-group-item">
                            <i class="icon-check text-success m-r-xs"></i> Personalizacion de procesos
                        </li>
                        <li class="list-group-item">
                            <i class="icon-check text-success m-r-xs"></i> Facturacion electronica
                        </li>
                        <li class="list-group-item">
                            <i class="icon-check text-success m-r-xs"></i> Actualizaciones diarias
                        </li>
                    </ul>
                    <div class="panel-footer text-center">
                        <a href class="btn btn-info font-bold m" ui-sref="app.form.invoiceconfig">Empezar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>