<script type="text/ng-template" id="modal-save-invoice">

    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Seleccione el tipo de identificaci&oacute;n del cliente</h4>
    </div>

    <div class="modal-body">
        Desea Guardar La factura: {{vm.numeroFactura}}
    </div>

    <div class="modal-footer">
        <div class="btn-group btn-group-justified">
            <a href class="btn btn-primary" ng-click="currentModal.close();">CANCELAR</a>
            <a href class="btn btn-success"
               ng-click="vm.guardarFactura()== undefined ? (steps.percent=100):'(steps.percent=100)'">ACEPTAR</a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="modal-catalog-tidentification">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Seleccione el tipo de identificaci&oacute;n del cliente</h4>
    </div>

    <div class="modal-body">
        <ui-identificationtype identification-type="vm.identificationType"
                               valor-validador="vm.targetaValidador"></ui-identificationtype>
    </div>

    <div class="modal-footer">
        <div class="btn-group btn-group-justified">
            <a href class="btn btn-primary" ng-click="currentModal.close();">CANCELAR</a>
            <a href ng-hide="vm.targetaValidador" class="btn btn-default">ACEPTAR</a>
            <a href ng-show="vm.targetaValidador" class="btn btn-success"
               ng-click="vm.submitTidentificacion(vm.identificationType)">ACEPTAR</a>
        </div>
    </div>
</script>


<script type="text/ng-template" id="modal-productservice">

    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h3 class="m-t-none m-b font-thin">PRODUCTO O SERVICIO</h3>
    </div>

    <div class="modal-body">
        <ui-product objeto-producto="vm.productoServicio" objeto-validador="vm.targetaValidador"></ui-product>
    </div>

    <div class="modal-footer">
        <div class="btn-group btn-group-justified">
            <a href class="btn btn-primary" ng-click="currentModal.close();">CANCELAR</a>
            <a href ng-hide="vm.targetaValidador.value" class="btn btn-default">ACEPTAR</a>
            <a href ng-show="vm.targetaValidador.value" class="btn btn-success"
               ng-click="vm.submitProducto(vm.productoServicio);">ACEPTAR</a>
        </div>
    </div>

</script>


<script type="text/ng-template" id="modal-additional">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h3 class="m-t-none m-b font-thin">ADICIONAL: {{vm.adicionalObjeto.additional.name}}</h3>
    </div>

    <div class="modal-body">
        <ui-additional obj-total-value="vm.totalSubTotal" obj-additional="vm.adicionalObjeto"
                       obj-validator="vm.targetaValidador"></ui-additional>
    </div>

    <div class="modal-footer">
        <div class="btn-group btn-group-justified">
            <a href class="btn btn-primary" ng-click="currentModal.close();">CANCELAR</a>
            <a href ng-hide="vm.targetaValidador.value" class="btn btn-default">ACEPTAR</a>
            <a href ng-show="vm.targetaValidador.value" class="btn btn-success"
               ng-click="vm.submitAdicional(vm.adicionalObjeto);">ACEPTAR</a>
        </div>
    </div>
</script>


<script type="text/ng-template" id="modal-select-pagoTargeta">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h3 class="m-t-none m-b font-thin">FORMA DE PAGO {{vm.pagoSeleccionado.name}}</h3>
    </div>

    <div class="modal-body">
        <ui-pago-targeta valor-pago="vm.valorFormaPago" valor-validador="vm.targetaValidador"></ui-pago-targeta>
    </div>

    <div class="modal-footer">
        <div class="btn-group btn-group-justified">
            <a href class="btn btn-primary" ng-click="currentModal.close();">CANCELAR</a>
            <a href ng-hide="vm.targetaValidador.value" class="btn btn-default">ACEPTAR</a>
            <a href ng-show="vm.targetaValidador.value" class="btn btn-success"
               ng-click="vm.submitFormaPago(vm.valorFormaPago);">ACEPTAR</a>
        </div>
    </div>
</script>


<script type="text/ng-template" id="modal-select-pagoCheque">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h3 class="m-t-none m-b font-thin">FORMA DE PAGO {{vm.pagoSeleccionado.name}}</h3>
    </div>

    <div class="modal-body">
        <ui-pago-cheque valor-pago="vm.valorFormaPago" valor-validador="vm.validador"></ui-pago-cheque>
    </div>

    <div class="modal-footer">
        <div class="btn-group btn-group-justified">
            <a href class="btn btn-primary" ng-click="currentModal.close();">CANCELAR</a>
            <a href ng-hide="vm.validador.value" class="btn btn-default">ACEPTAR</a>
            <a href ng-show="vm.validador.value" class="btn btn-success"
               ng-click="vm.submitFormaPago(vm.valorFormaPago);">ACEPTAR</a>

        </div>
    </div>
</script>


<script type="text/ng-template" id="modal-select-formapago">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h3 class="m-t-none m-b font-thin">FORMA DE PAGO {{vm.pagoSeleccionado.name}}</h3>
    </div>

    <div class="modal-body">
        <ui-pago-efectivo valor-pago="vm.valorFormaPago" valor-validador="vm.validador"></ui-pago-efectivo>
    </div>

    <div class="modal-footer">
        <div class="btn-group btn-group-justified">
            <a href class="btn btn-primary" ng-click="currentModal.close();">CANCELAR</a>
            <a href class="btn btn-success"
               ng-click="vm.submitFormaPago(vm.valorFormaPago);">ACEPTAR</a>

        </div>
    </div>
</script>


<script type="text/ng-template" id="modal-select-adicional">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h3 class="m-t-none m-b font-thin">ADICIONAL: {{vm.adicionalObjeto.additional.name}}</h3>
    </div>

    <div class="modal-body">
        <ui-pago-efectivo valor-pago="vm.valorAdicional" valor-validador="vm.validador"></ui-pago-efectivo>
    </div>

    <div class="modal-footer">
        <div class="btn-group btn-group-justified">
            <a href class="btn btn-primary" ng-click="currentModal.close();">CANCELAR</a>
            <a href ng-show="vm.validador" class="btn btn-default">ACEPTAR</a>
            <a href ng-hide="vm.validador" class="btn btn-success"
               ng-click="vm.submitAdicionalFactura(vm.valorAdicional)">ACEPTAR</a>
        </div>|
    </div>
</script>


<script type="text/ng-template" id="modal-select-phone">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">MODAL PHONE LIST CONTENT</h4>
    </div>

    <div class="modal-body">
        <ui-sphone current-phone="vm.phoneDto" current-person="vm.customerDto.person"></ui-sphone>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="vm.submitModalPhone(vm.phoneDto);">Aceptar</button>
    </div>
</script>


<script type="text/ng-template" id="modal-select-article">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">MODAL ARTICLE LIST CONTENT</h4>
    </div>

    <div class="modal-body">
        <ui-article current-article="vm.articleDto" article-list="vm.articleList"></ui-article>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="vm.submitModalArticle(vm.articleDto);">Aceptar
        </button>
    </div>
</script>


<script type="text/ng-template" id="modal-select-customer">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">MODAL CUSTOMER LIST Content </h4>
    </div>

    <div class="modal-body">
        <ui-customer current-customer="vm.customerDto" customer-list="vm.customerList"></ui-customer>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="vm.submit();">Aceptar</button>
    </div>
</script>