<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">ADMINISTRACI&Oacute;N DE RUTAS</h1>
</div>
<div class="wrapper-md" ng-controller="AdminRoute as vm">
	
	
	<div>
	<form name="form" class="form-validation">
	<script type="text/ng-template" id="modal-mapa">
    <form name="forma" class="form-validation">
		<div class="modal-header">
        	<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        	<h4 class="modal-title">Mapa </h4>
   	 	</div>
		<div ng-show="vm.mapa" class="modal-body">
		   <ng-map zoom="16" center="[{{vm.coordenada.latitude}},{{vm.coordenada.longitude}}]">
			<div  ng-repeat="iterador in vm.lstCoordenadas">
			<marker animation="Animation.BOUNCE" position="[{{iterador.latitude}},{{iterador.longitude}}]" title="{{iterador.familia}}"></marker>
			</div>
			</ng-map>
		</div>
    	<div class="modal-footer">
			<div  class="row">
			<div class="col-sm-6">
			<alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" >{{alert.msg}}</alert>
			</div>
			<div class="col-sm-4">
   			<button type="reset" class="btn btn-primary btn-addon btn-sm" ng-click="currentModal.close();" ><i class="fa fa-sign-out"></i>SALIR</button>      
    			<div class="checkbox">
					<label class="i-checks">
						<input type="checkbox" ng-model="vm.mapa" checked><i></i>M&aacute;s filtros
					</label>
				</div>
			</div>
			</div>
		</div>
	</form>
	</script>

	<div>
		<alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" >{{alert.msg}}</alert>				
	<div>
			
	<ul class="b-a bg-light lt">
    	<div class="line b-b line-sm"></div>
			<div class="row">
				<div class="form-group">
                	<label class="col-lg-2 control-label">
                        	Seleccione una fecha:
                    </label>
                    <div class="col-lg-3" ng-controller="DatepickerDemoCtrl">
		            	<div ng-init="vm.filterDate = (vm.currentDate | date:'yyyy-MM-dd')" class="input-group w-md">
		                	<input ng-change="vm.obtenerServicios()" ng-disabled="true" type="text" class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.filterDate" 
		                           is-open="opened" datepicker-options="dateOptions" close-text="Close" >
		                    </input> 
		                    <span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
		                </div>
		            </div>
							
							<label class="col-lg-2 control-label">
                        	Mostrar Procesados:
                        	</label>
											
							<div class="col-lg-3">
                           		<div>
			                        <label class="i-switch bg-info m-t-xs m-r"> 
			                        <input  ng-change="vm.obtenerServicios();" ng-model="vm.procesados" type="checkbox" checked/> <i></i>
			                        </label>
                    			</div>
                         	</div>
                </div>
                        
                        <div class="line b-b line-sm"></div>
                        
                       	<div class="form-group">
                        	<label class="col-lg-2 control-label">
                        	</label>
											
							<div class="col-lg-3">
                           		<div class="checkbox" ng-init="vm.adicionales = false">
					              <label class="i-checks">
					                <input type="checkbox" ng-model="vm.adicionales" checked><i></i>M&aacute;s filtros
					              </label>
					            </div>
                         	</div>
                         	
                         	<label class="col-lg-2 control-label">
                        	Mostrar Activos?
                        	</label>
                         	
                         	<div class="col-lg-3">
                         		<div>
			                        <label class="i-switch bg-info m-t-xs m-r"> 
			                        <input  ng-change="vm.obtenerServicios();" ng-model="vm.estado" type="checkbox" checked/> <i></i>
			                        </label>
                    			</div>
                    		</div>
                         </div>
	            	</div>
			</ul>
			
			
						<div ng-if="vm.adicionales" class="panel b-a bg-light lt">
							<div class="row">
				                <div class="form-group">
			                   	<label class="col-lg-2 control-label">
			                        	Mostrar solo puntuales:
			                   	</label>
								<div class="col-lg-2">
			                    	<div ng-init="vm.procesados == undefined ? false:true">
						                        <label class="i-switch bg-primary m-t-xs m-r"> 
						                        <input  ng-change="vm.obtenerServicios();" ng-model="vm.estado" type="checkbox" checked/> <i></i>
						                        </label>
			                    	</div>
			                   	</div>
			                         	
			                    <label class="col-lg-2 control-label">
			                    Mostrar solo frecuentes:
			                    </label>
				
								<div class="col-lg-2">
			    	           		<div ng-init="vm.procesados == undefined ? false:true">
						                <label class="i-switch bg-primary m-t-xs m-r"> 
							                <input  ng-change="vm.obtenerServicios();" ng-model="vm.estado" type="checkbox" checked/> <i></i>
						                </label>
			               			</div>
			                   	</div>
			                         	
				                    <label class="col-lg-2 control-label">
				                    Mostrar solo privados:
				                    </label>
									<div class="col-lg-2">
				    	           		<div ng-init="vm.procesados == undefined ? false:true">
						                <label class="i-switch bg-primary m-t-xs m-r"> 
						                <input  ng-change="vm.obtenerServicios();" ng-model="vm.estado" type="checkbox" checked/> <i></i>
							                        </label>
				                    			</div>
				                    </div>
			                	</div>
				    	   	</div>
						</div>

						<div ng-if="vm.mapa">
						<button ng-click="vm.mapa = false" class="btn btn-warning btn-addon btn-sm"><i class="fa fa-times"></i>Cerrar Mapa</button>
						<ng-map  zoom="16" center="[{{vm.coordenada.latitude}},{{vm.coordenada.longitude}}]">
										<div  ng-repeat="iterador in vm.lstCoordenadas">
										<marker position="[{{iterador.latitude}},{{iterador.longitude}}]" title="{{iterador.familia}}"></marker>
										</div>
						</ng-map>
						</div>

						<div class="row">
			        			<div>
				          			<div class="panel no-border">
							            <div class="panel-heading wrapper b-b b-light">
							            <div class="form-group">
					               	 	
					               	 	</div>
							              <span class="text-xs text-muted pull-right">
							                <i class="fa fa-circle text-primary m-r-xs"></i> 12
							                <i class="fa fa-circle text-info m-r-xs m-l-sm"></i> 30
							                <i class="fa fa-circle text-warning m-r-xs m-l-sm"></i> 98
							              </span>
							            </div>
							            
							            <ul class="list-group list-group-lg m-b-none">
									    	<li ng-repeat="iterador in vm.lstServicios" class="list-group-item">
											<div class="row">
											<div class="m-t-xxs form-group">
												<label class="col-lg-3 control-label">
					                        	Usuario:
					                        	<span class="clear">
						                				<small class="text-muted clear text-ellipsis">{{iterador.creatingUser.person.fullName}}</small>
					              				</span>
					                        	</label>
												
												<label class="col-lg-3 control-label">
					                        	Ruta:
					                        	<span class="clear">
						                				<small class="text-muted clear text-ellipsis">{{iterador.routeName}}</small>
					              				</span>
					                        	</label>
					                         	<label class="col-lg-1 control-label">
					                        	Unidad:
					                        	</label>
					                         	<div class="form-group">
													<ui-select class="col-lg-2" theme="bootstrap" ng-model="iterador.unitPartner" on-select="vm.editarRuta(iterador,$item)">
												    	<ui-select-match placeholder="buscar unidad..">{{$select.selected.name}}</ui-select-match>
												        	<ui-select-choices repeat="iterator in vm.lstUnits | filter: $select.search track by iterator.name"
												                               refresh="vm.searchUnits($select)" refresh-delay="300">
												                            <div ng-bind-html="iterator.name | highlight: $select.search"></div>
												        	</ui-select-choices>
													</ui-select>
												
					
												<label class="col-lg-1 control-label">
					                        	Activar Ruta:
					                        	</label>
												<div class="col-lg-2">
					                           		<div>
								                        <label class="i-switch bg-primary m-t-xs m-r"> 
								                        <input  ng-change="vm.editarEstado(iterador)" ng-model="iterador.status" type="checkbox" checked/> <i></i>
								                        </label>
					                    			</div>
					                         	</div>
												</div>
											</div>
											
											<div class="form-group">
												<div class="col-lg-2">
													<button ng-click="vm.visualizarMapa(iterador)" class="btn btn-success btn-addon btn-sm">
													<i class="fa fa-plus"></i>Mostrar Ruta
													</button>	
												</div>
									    	</div>
											</div>						
									    	</li>
							            </ul>
										
							            <div class="panel-footer">
							              <span class="pull-right badge badge-bg m-t-xs">32</span>
							              <button ng-click="vm.obtenerServicios()" class="btn btn-success btn-addon btn-sm"><i class="fa fa-refresh"></i>Actualizar Lista</button>
							            </div>
				          			</div>
			        			</div>
     						</div>
						</div>
					</div>
				</div>
			</div>
		</form>
    	</div>
	</div>
</div>