<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">UNIDAD</h1>
</div>

<div class="wrapper-md" ng-controller="UnitController as vm">

<div>
	<alert ng-repeat="alert in vm.alerts" type="{{alert.type}}">{{alert.msg}}</alert>
</div>

	<div ng-if="!vm.unitDto">
	<div class="panel panel-default">
        <div class="panel-heading">
	    	<button ng-click="vm.newUnit(true)" class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-plus"></i>NUEVA UNIDAD</button>
        </div>
		<div class="panel-body">
			 <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
                	<tr ng-repeat="iterator in $data">
						<td data-title="'ID'">{{iterator.id}}</td>
						<td data-title="'TRANSPORTISTA'">{{iterator.dispatcher.person.fullName}}</td>
						<td data-title="'COCHE'">{{iterator.car.licensePlate}}</td>
						<td data-title="'NOMBRE'">{{iterator.name}}</td>
						<td data-title="'FECHA INGRESO'">{{iterator.initDate}}</td>
						<td align="center" data-title="'ESTADO'">{{iterator.status}}</td>
						<td data-title="'ACCI&Oacute;N'" align="center">
							<div class="text-center" style="width:100px">
								<button  class="btn btn-info btn-xs"   ng-click="vm.edit(iterator)"><i class="glyphicon glyphicon-edit"></i></button>
								<button class="btn btn-success btn-xs" ng-click="vm.save(iterator,true)"><i class="glyphicon glyphicon-ok-circle"></i></button>
								<button class="btn btn-danger btn-xs"  ng-click="vm.save(iterator,false)"><i class="glyphicon glyphicon-trash"></i></button>
							</div>
						</td>
					</tr>
                </table>
		</div>
		</div>
	</div>



	<div ng-if="vm.unitDto" class="padder">
		<form name="formcar" class="form-validation">
			<div class="m-l-lg m-b-lg panel b-a bg-light lt">
				<div class="panel-body">
					<div>
						<div class="panel-heading font-bold">INGRESE DATOS DEL COCHE</div>
						<div class="panel-body">
                            <div class="form-group has-error">
                                <label class="col-sm-2 control-label">Transportista:</label>
	                            <div class="col-sm-10">
        	                            <ui-select ng-required="true" theme="bootstrap" ng-model="vm.unitDto.dispatcher">
					                        <ui-select-match placeholder="ingrese n&uacute;mero de identificaci&oacute;n o nombre del tranportista">{{$select.selected.person.fullName}}</ui-select-match>
					                        <ui-select-choices
					                                repeat="distpacher in vm.lstDispatchers | filter: $select.search track by distpacher.id"
					                                refresh="vm.searchDistpatcher($select)" refresh-delay="300">
					                            <div ng-bind-html="distpacher.person.fullName | highlight: $select.search"></div>
					                        </ui-select-choices>
					                    </ui-select>
    	                    	</div>
                            </div>							

							<div class="line line-dashed b-b line-lg pull-in"></div>
							<div class="form-group has-error">
                                <label class="col-sm-2 control-label">Coche:</label>
	                                <div class="col-sm-10">
        	                            <ui-select  ng-required="true" theme="bootstrap" ng-model="vm.unitDto.car">
					                        <ui-select-match placeholder="ingrese la placa del coche">{{$select.selected.licensePlate}}</ui-select-match>
					                        <ui-select-choices
					                                repeat="car in vm.lstCars | filter: $select.search track by car.id"
					                                refresh="vm.searchCar($select)" refresh-delay="300">
					                            <div ng-bind-html="car.licensePlate | highlight: $select.search"></div>
					                        </ui-select-choices>
					                    </ui-select>
    	                            </div>
                                </div>


							<div class="line line-dashed b-b line-lg pull-in"></div>
							<div class="form-group has-error">
								<label class="col-sm-2 control-label">Nombre:</label>
								<div class="col-sm-10">
									<input type="text"
										style="text-transform:uppercase" type="text"
										ng-model="vm.unitDto.name"
										class="form-control" required/>
								</div>
							</div>
							
							<div class="line line-dashed b-b line-lg pull-in"></div>
							<div class="form-group has-success">
								<label class="col-sm-2 control-label">Observaci&oacute;n:</label>
								<div class="col-sm-10">
									<input type="text"
										type="text"
										placeholder="campo opcional"
										ng-model="vm.unitDto.description"
										class="form-control"/>
								</div>
							</div>
							
							<div class="line line-dashed b-b line-lg pull-in"></div>
							<div class="form-group has-error">
				                <label class="col-sm-2 control-label">Valor de ingreso:</label>
				                <div class="col-sm-10">
				                  <input type="number" class="form-control"  ng-model="vm.unitDto.valueStart" ng-maxlength="5" required>
				                </div>
				             </div>
							
							<div class="line line-dashed b-b line-lg pull-in"></div>
							
							<div class="form-group has-error">
							<label class="col-sm-2 control-label">Fecha de ingreso:</label>
							<div ng-controller="DatepickerDemoCtrl">
								<div  class="input-group w-md" ng-init="vm.unitDto.initDate == undefined ? (vm.unitDto.initDate = vm.currentDate ): (vm.unitDto.initDate = vm.unitDto.initDate)">
									<input type="text" placeholder="seleccione la fecha" class="col-lg-5 form-control" datepicker-popup="{{format}}" 
										   ng-model="vm.unitDto.initDate" is-open="opened"
										   datepicker-options="dateOptions" ng-required="true"	close-text="Close" /> <span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open($event)">
														<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>			
							</div>
							
							<div class="line line-dashed b-b line-lg pull-in"></div>
							<div class="form-group has-warning">
							<label class="col-sm-2 control-label">Fecha de salida:</label>
							<div ng-controller="DatepickerDemoCtrl">
								<div  class="input-group w-md">
									<input type="text" placeholder="seleccione la fecha" class="col-lg-5 form-control" datepicker-popup="{{format}}" 
										   ng-model="vm.unitDto.finDate" is-open="opened"
										   datepicker-options="dateOptions" close-text="Close" /> <span class="input-group-btn">
										<button  type="button" class="btn btn-default" ng-click="open($event)">
														<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>			
							</div>
						</div>
					</div>
				</div>
			</div>

			<div>
				<div class="m-b-sm">
					<div class="row">
						<button type="submit"
							ng-click="formcar.$valid ? vm.save(vm.unitDto,true):vm.alertRequiredFields()"
							href class="btn btn-info col-sm-6">GUARDAR</button>
						<button type="reset" href class="btn btn-warning col-sm-6"
							ng-click="vm.newUnit(false);">CANCELAR</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
