<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">RUTAS PUNTUALES GENERADOS POR LOS USUARIOS</h1>
</div>
<div class="wrapper-md" ng-controller="SpotRoute as vm">
	<ng-map ng-if="vm.ubicacion" zoom="16" center="[{{vm.puesto.latitude}},{{vm.puesto.longitude}}]">
					<marker animation="Animation.BOUNCE" position="[{{vm.puesto.latitude}},{{vm.puesto.longitude}}]" title="Hola"></marker>
	</ng-map>
	<div>
	<form name="form" class="form-validation">
	<script type="text/ng-template" id="modal-confirmar-solicitud">
    <form name="forma" class="form-validation">
		<div class="modal-header">
        	<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        	<h4 class="modal-title">Desea unirse ?</h4>
   	 	</div>
		<div class="modal-body">
		 <li class="list-group-item">
					<div class="row">
						<div class="col-lg-1">
						<a href class="thumb-sm m-r">
						  <img src="img/visto.jpg" class="r r-2x">
						</a>
						</div>
						<div class="col-lg-10">
						<div class="clear">
							<div><a href>Desea realmente unirse a esta ruta?</a></div>
							<small class="text-muted">
								Recuerde que la unidad asignada a esta ruta pasar&aacute;
								por usted a aproximadamente a las {{vm.ruta.hour}}:{{vm.ruta.minutes}}
							</small>
							<div>
							</div>
						</div>
						</div>
					</div>
		   </li>
		   <li class="list-group-item">
				<div class="row">
                	<div class="form-group has-error">
                    <label class="col-sm-2 control-label">N&uacute;mero de pasajeros: </label>
						<div class="col-sm-10">
                        		<input placeholder="Diponibles: {{4 - vm.ruta.totalPlaces}}" type="number" ng-model="vm.puesto.pasageros" class="form-control" required/>
                    	</div>
                	</div>
				</div>
			</li>
		   <li class="list-group-item">
				<div class="row">
					<div>
						<div class="form-group has-success">
                    		<label class="col-sm-2 control-label">Mi ubicaci&oacute;n: </label>
                    		<div class="col-sm-10">
                        		<input ng-disabled="true" type="text" ng-model="vm.origen" class="form-control"/>
                    		</div>
                		</div>
					</div>
				</div>
			</li>    
		</div>
    	<div class="modal-footer">
			<div class="row">
			<div class="col-sm-6">
			<alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" >{{alert.msg}}</alert>
			</div>
			<div class="col-sm-4">
   			<button type="reset" class="btn btn-primary btn-addon btn-sm" ng-click="currentModal.close();" ><i class="fa fa-plus"></i>CANCELAR</button>      
   			<button type="submit" class="btn btn-success btn-addon btn-sm" ng-click="vm.puesto.pasageros>=1 && vm.puesto.pasageros <= (4 - vm.ruta.totalPlaces) ?  vm.gurdarRuta(vm.ruta): vm.mensageValidacion()" ><i class="fa fa-plus"></i>ACEPTAR</button>      
    		</div>
			</div>
		</div>
	</form>
	</script>

	<div>

	<div class="panel b-a bg-light lt">
		<div class="row">
			<div class="m-t-xs form-group">
			    <label class="m-l-lg text-right col-lg-2 control-label">
				                   	Solo mi sector:
			    </label>
				<div class="m-l-lg col-lg-1">
				    <div ng-init="vm.procesados == undefined ? false:true">
						<label class="i-switch bg-primary m-t-xs m-r"> 
						<input  ng-change="vm.obtenerServicios();" ng-model="vm.mlocate" type="checkbox" checked/> <i></i>
						</label>
				    </div>
	           	</div>
	           	
	           	<label class="m-l-lg text-right col-lg-1 control-label">
				                   	Diponibles:
			    </label>
				<div class="m-l-lg col-lg-1">
				    <div ng-init="vm.procesados == undefined ? false:true">
						<label class="i-switch bg-primary m-t-xs m-r"> 
						<input  ng-change="vm.obtenerServicios();" ng-model="vm.stateService" type="checkbox" checked/> <i></i>
						</label>
				    </div>
	           	</div>
	           	<label class="m-l-lg text-right col-lg-2 control-label">
				                   	Ruta:
			    </label>
				<div class="m-l-lg col-lg-3">
				   <div class="form-group">
			            <div class="input-group">
			                <input type="text" ng-model="vm.selected" ng-change="vm.obtenerServicios()"
			                       class="form-control input-sm bg-light no-border rounded padder" placeholder="buscar por ruta">
			                <span class="input-group-btn">
			                <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
			              </span>
			            </div>
			        </div>
	           	</div>
		   	</div>
	   	</div>
	</div>
	
	<alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" >{{alert.msg}}</alert>				
		<div>
			<div class="row">
		        <div>
		          <div class="panel no-border">
		            <div class="panel-heading wrapper b-b b-light">
		            <div class="form-group">
                    <label class="col-sm-2 control-label">MOSTRAR MI UBICACI&Oacute;N</label>
                    <div ng-init="vm.ubicacion == undefined ? false:true">
                        <label class="i-switch bg-info m-t-xs m-r"> 
                        <input  ng-change="vm.pedirUbicacion();" ng-model="vm.ubicacion" type="checkbox" checked/> <i></i>
                        </label>
                    </div>
               	 	</div>
		              <span class="text-xs text-muted pull-right">
		                <i class="fa fa-circle text-primary m-r-xs"></i> 12
		                <i class="fa fa-circle text-info m-r-xs m-l-sm"></i> 30
		                <i class="fa fa-circle text-warning m-r-xs m-l-sm"></i> 98
		              </span>
		            </div>
		            <ul class="list-group list-group-lg m-b-none">
				    	<li ng-repeat="iterador in vm.lstServicios" class="list-group-item">
				    		<div class="row">
								<div class="form-group">
									<label class="col-lg-3 control-label">
					                    Usuario solicitante:
					                	<span class="clear">
						                	<small class="text-muted clear text-ellipsis">{{iterador.creatingUser.person.fullName}}</small>
					              		</span>
					                </label>
					                <label class="col-lg-3 control-label">
					                    Ruta:
					                	<span class="clear">
						                	<small class="text-muted clear text-ellipsis">{{iterador.routeName}}</small>
					              		</span>
					                </label>
									<label class="col-lg-1 control-label">
					                    Salida:
					                	<span class="clear">
						                	<small class="text-muted clear text-ellipsis">{{iterador.hour}}:{{iterador.minutes}}</small>
					              		</span>
					                </label>
									
									<span class="pull-right">
										<div>
											<div  class="text-center">
												<button ng-repeat="it in iterador.lstPlace"  class="{{it.clss}}"
														ng-disabled="it.disable"
														ng-click="vm.abrirConfirmacion(iterador);">
														<i class="fa fa-car">
														</i>
												</button>
											</div>
										</div>		                
									</span>
              					</div>
              				</div>
				        </li>
		            
		            			</ul>
					            <div class="panel-footer">
					              <span class="pull-right badge badge-bg m-t-xs">32</span>
					              <button class="btn btn-success btn-addon btn-sm"><i class="fa fa-refresh"></i>Actualizar Rutas</button>
					            </div>
		          			</div>
		        			</div>
     						</div>
						</div>
					</div>
				</div>
			</div>
		</form>
    	</div>
	</div>
</div>