<form name="step1" class="form-validation">
	<div>
		<div ng-if= "wayPay.name == undefined ? == (vm.name = ''):( vm.name = wayPay.name)" > 
		</div>
		
		<div ng-if= "wayPay.lstDayRange >0 ? == (vm.nameRange = ''):( vm.nameRange = wayPay.lstDayRange[0].name)" > 
		</div>
		
		<div ng-if= "wayPay.lstDayRange >0 ? == ( vm.initRange = ''):( vm.initRange = wayPay.lstDayRange[0].since)" > 
		</div>
		
		<div ng-if= "wayPay.lstDayRange >0 ? == (vm.finRange = ''):( vm.finRange = wayPay.lstDayRange[0].until)" > 
		</div>
		
		<div ng-if="step1.$invalid ? (valorValidador.value= false): (valorValidador.value= true)"   >
		</div>
		<label >Ingrese el nombre de la forma de pago </label>
		<input type="text" ng-model="vm.name" ng-change="vm.wayPayLoader()" class="form-control" placeholder="ingrese el nombre de la forma de pago" required />
		
		<div class="line line-dashed b-b line-lg pull-in"></div>
		<label>Nombre del Rango:</label>
		<input type="text" ng-model="vm.nameRange" ng-change="vm.wayPayLoader()" class="form-control" placeholder="ingrese el nombre del cat&aacute;logo"	required />
		
		<div class="line line-dashed b-b line-lg pull-in"></div>
		<label>Desde: </label>
        <input type="number" class="form-control" ng-change="vm.wayPayLoader()" placeholder="n&uacute;mero m&iacute;nino = 1" ng-model="vm.initRange" ui-validate=" '$value >= 1' " required>
		
		<div class="line line-dashed b-b line-lg pull-in"></div>
		<label class="col-sm-2 control-label">Hasta: </label>
		<input type="number" class="form-control" ng-change="vm.wayPayLoader()" placeholder="n&uacute;mero m&aacute;ximo = 10000" ng-model="vm.finRange" ui-validate=" '$value <= 10000' " required>
		
	</div>
</form>