<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3"  translate="aside.nav.modules.cxc.motnotas" >Motivo de notas de credito</h1>
</div>
<div class="wrapper-md" ng-controller="ReasonNotes as vm">

	<div class="panel panel-default" ng-if="!vm.reasonNoteDto">
		
		  <div class="panel-heading">
	    	<button ng-click="vm.nuevaNota()" class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-plus"></i><span translate="label.global.nuevo" >NUEVO MOTIVO</span></button>
            <button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="refresh()"><i class="fa fa-refresh"></i><span translate="label.global.actualizar"></span></button>
            <p style="float: right;" ><span translate="label.global.busqueda">B&Uacute;SQUEDA :</span>  <input type="search" ng-model="search" class="form-control input-sm w-sm inline m-r" placeholder="B&Uacute;SQUEDA GENERAL"></p>
        </div>

		<div class="panel panel-default">
			<div class="panel-body">

				<table ng-table="vm.tableParams" class="table table-hover table-striped" show-filter="true">
					<thead>
						<tr>
							<th translate="label.global.codigo">C&Oacute;DIGO</th>
							<th translate="label.global.nombre">NOMBRE</th>
							<th translate="label.modulo.cxc.tipotransaccion">TIPO TRANSACCI&Oacute;N</th>
							<th translate="label.global.estado">ESTADO</th>
							<th translate="label.global.accion">ACCI&Oacute;N</th>
						</tr>
					</thead>
					<tr ng-repeat="motivo in $data">
						<td class="text-center">{{motivo.id}}</td>
						<td >{{motivo.name}}</td>
						<td >{{motivo.catTypeTransaccion.name}}</td>
						<td class="text-center">
							<i class="glyphicon"
							   ng-class="{true: 'glyphicon-ok-circle', false: 'glyphicon-ban-circle'}[motivo.status]"></i>
						</td>

						<td class="text-center" >
							<div class="text-center" >
								<button  class="btn btn-info btn-xs" ng-click="vm.editObj(motivo)"><i class="glyphicon glyphicon-edit"></i></button>
								<button class="btn btn-success btn-xs" ng-click="vm.saveReasonNote(motivo,true)"><i class="glyphicon glyphicon-ok-circle"></i></button>
								<button class="btn btn-warning btn-xs" ng-click="vm.saveReasonNote(motivo,false)"><i class="glyphicon glyphicon-ban-circle"></i></button>
								
							</div>
						</td>
					</tr>
				</table>

			</div>
		</div>
	</div>



	<form name="form" class="form-validation" ng-if="vm.reasonNoteDto">
		<div class="panel panel-default">

			<div class="panel panel-default">
				<div class="panel-heading font-bold">
					<span>MOTIVO </span>
				</div>
				<div class="panel-body">


					<div class="form-group">
						<label  class="col-sm-2 control-label" >Nombre: </label>
						<div class="col-sm-10">
							<input style="text-transform:uppercase" type="text" ng-model="vm.reasonNoteDto.name"
								class="form-control" placeholder="ingrese el nombre de la sucursal"
								required />
						</div>
					</div>
					
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Tipo transaccion:</label>
						<div class="col-sm-10">
							<ui-select ng-model="vm.reasonNoteDto.catTypeTransaccion"
	                                       theme="bootstrap"
	                                       ng-disabled="disabled"
	                                       reset-search-input="true">
	                                <ui-select-match placeholder="Buscar...">{{$select.selected.name}}</ui-select-match>
	                                <ui-select-choices repeat="catTCom in vm.lstMotNota track by $index"
	                                                   refresh-delay="0">
	                                    <div ng-bind-html="catTCom.name | highlight: $select.search"></div>
	                                </ui-select-choices>
	                            </ui-select>
						</div>
					</div>
				</div>
			</div>
		</div>
		     <div class=" line line-dashed b-b line-lg pull-in"></div>
		     	<div class="col-sm-12 col-sm-offset-" >
                    <div class="form-group">
                        <div class="col-sm-6 text-right">
                            <button class="btn btn-dm" ng-click="vm.cancel();" translate="label.global.cancelar">
                             Cancelar
                            </button>
                            
						</div>
                        <div class="col-sm-6">
                            <button ng-disabled="form.$invalid" ng-click="vm.saveReasonNote(vm.reasonNoteDto,true)" class="btn btn-dm btn-primary" translate="label.global.guardar">
                            Guardar
                            </button>
                        </div>
                    </div>
                 </div> 
	</form>
</div>