<div>
	<form name="person_validator" class= "form-validation">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
			<div ng-if="!person_validator.$invalid  && vm.rucValidado ? (validator=true):(validator=false)">
			</div>
			 <div class="list-group list-group-sm">
	            <div class="list-group-item">
	              <input type="text" placeholder="nombre comercial"  class="form-control no-border" ng-model="companyDirective.comercialName" required>
	            </div>
	            <div class="list-group-item">
	              <input type="text" placeholder="raz&oacute;n social"  class="form-control no-border"  ng-model="companyDirective.socialRazon" required>
	            </div>
	            <div class="list-group-item">
	              <input type="text" placeholder="direcci&oacute;n" class="form-control no-border" ng-model="companyDirective.address" required>
	            </div>
	            <div class="list-group-item">
	              <input type="text" placeholder="RUC" class="form-control no-border" ng-blur="vm.procesoValidacion(companyDirective.ruc)" ng-model="companyDirective.ruc" required>
	            </div>
	          </div>
	</form>
	<div ng-if="vm.rucValidado == true ? true : false" class="alert alert-success">
 		<strong>&Eacute;xito!</strong> El RUC ingresado es v&aacute;lido.
	</div>
	
	<div ng-if="vm.rucValidado == false ? true : false" class="alert alert-danger">
 		<strong>Error!</strong> RUC inv&aacute;lido o ya se encuentra registrado.
	</div>
</div>
