<div class="padder">
	<form name="person_validator" class= "form-horizontal form-validation">
		<div ng-if="!person_validator.$invalid  ? (valorValidador = true): (valorValidador= false)" >
		</div>
		<div class="form-group">
			<ui-number-identification tag-number="vm.customerDto.person.identificationNumber"
									  tag-option= "1"
                                      tag-identification-type="vm.customerDto.person.catalogIdentificationType"
                                      tag-validator="vm.numeroValidado">
        	</ui-number-identification>
        </div>	
		<div class="line line-dashed b-b line-lg pull-in"></div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Nombre: </label>
			<div class="col-sm-10">
				<input type="text" placeholder="ingrese los nombres de la persona o el nombre comercial del cliente" ng-model="clienteDinamico.comercialName" class="form-control" required/>
			</div>
		</div>
		
		<div class="line line-dashed b-b line-lg pull-in"></div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Apellidos: </label>
			<div class="col-sm-10">
				<input type="text" placeholder="ingrese los apellidos de la persona o la raz&oacute;n social del cliente" ng-model="clienteDinamico.razonSocial" class="form-control" required/>
			</div>
		</div>
		
		
		<div class="line line-dashed b-b line-lg pull-in"></div>
		<div class="form-group">
		<label class="col-sm-2 control-label">Direcci&oacute;n: </label>
			<div class="col-sm-10">
				<input type="text" placeholder="ingrese la direcci&oacute;n del cliente" ng-model="clienteDinamico.address" class="form-control" required/>
			</div>
		</div>
		
		<div class="line line-dashed b-b line-lg pull-in"></div>
		<div class="form-group">
			<label class="col-sm-2 control-label">T&eacute;lefono: </label>
			<div class="col-sm-10">
				<input type="text" placeholder="ingrese el n&uacute;mero de tel&eacute;fono del cliente"  ng-model="clienteDinamico.phone" class="form-control" required/>
			</div>
		</div>
		
		<div class="line line-dashed b-b line-lg pull-in"></div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Email: </label>
			<div class="col-sm-10">
				<input type="text" placeholder="ingrese el nombre o raz&oacute;n social del cliente"  ng-model="clienteDinamico.email" class="form-control" required/>
			</div>
		</div>
					
		<div class="line line-dashed b-b line-lg pull-in"></div>
		<div class="form-group">
		<label class="col-sm-2 control-label">Carga Iva:</label>
			<div class="col-sm-10" ng-init= "clienteDinamico.ivaLoader==undefined ? (clienteDinamico.ivaLoader= true): (clienteDinamico.ivaLoader= clienteDinamico.ivaLoader)">
				<label class="i-switch i-switch-md bg-info m-t-xs m-r"> 
					<input ng-model="clienteDinamico.ivaLoader" ng-disabled="!clienteDinamico.person" type="checkbox" checked />
					<i></i>
				</label>	
			</div>
		</div>
	</form>
</div>
			