<div class="panel-body">
	 <div>
         <label class="col-sm-2 control-label"">Tipo de identificaci&oacute;n:</label>
     </div>
     
	<div class="panel-body">
    	<div ng-if="!identificationType" class="col-sm-2 has-warning">
			<div class="row-fluid" ng-repeat="catalog in vm.catalogIdTypeList">
				<div class="radio">
			    	<label class="i-checks">
	                    <input type="radio" ng-change="vm.encerarNumero()" ng-model="vm.identificationType" ng-value="catalog" value="catalog" required/>
	                    <i></i>
	                    {{catalog.name}}
			        </label>
			    </div>
			</div>
		</div>
		<div class="col-sm-2">
		{{identificationType.name}}
		</div>
		<div class="col-sm-8">
			<div class="form-group has-warning">
				<div class="col-sm-5">
					<input ng-model="number" ng-disabled="vm.identificationType == undefined ? true: false" type="text" ng-blur="vm.validarNumeroIdentificacion(number)"
						   class="form-control"
						   placeholder="ingrese su c&eacute;dula o RUC" required />
				</div>
			</div>
            <span ng-show='option !=2 && vm.numeroValidado == false ? true:false'>N&uacute;mero invalido</span>
    	    <span ng-show='option ==2 && vm.numeroValidado == false ? true:false'>{{vm.mensaje}}</span>
    	</div>
    </div>
</div>