
<div class="padder">
 <script type="text/ng-template" id="modal-revoke-invoice">
        <div class="modal-header">
            <button type="button" class="close" ng-click="vm.cerarPopUp();" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Anulaci&oacute;n de factura</h4>
        </div>

        <div class="modal-body">
			Desea anular la factura: {{objetoFactura.number}}
			</br>
			del cliente: {{objetoFactura.customer.comercialName}}
			</br>
			con un valor de: {{objetoFactura.totalValue}} ?
        </div>

         <div class="modal-footer">
			<div class="btn-group btn-group-justified">
				<a href class="btn btn-primary" ng-click="vm.cerarPopUp();" >CANCELAR</a>
				<a href class="btn btn-success" ng-click="vm.anularFactura(objetoFactura)" >ACEPTAR</a>
        	</div>
        </div>
 </script>


<div class="wrapper-md">
  		<div>
     		<div class="well m-t bg-light lt">
      			<div class="row">
		           <div class="col-xs-6">
				        <h3>
				        
				        <strong>
				        {{objetoFactura.subsidiary.company.comercialName}}
				        </strong>
				        </h3>
					        <p>	
					        	<a href="objetoFactura.subsidiary.company.webPage">{{objetoFactura.subsidiary.company.webPage}}</a>
					        </p>
					        <p>
					          {{objetoFactura.subsidiary.company.address}}
					         <br>
					        </p>
				        <p>
				          Tel&eacute;fono:  {{objetoFactura.subsidiary.company.principalPhone}}
				          <br>
				        </p>
		      		</div>
			       <div class="col-xs-6 text-right">
			        <p class="h4">FACTURA: {{objetoFactura.number}}</p>
			        <h5>FECHA: {{objetoFactura.elaborationDate}}</h5> 
			         
			         <p>
			          USUARIO: {{objetoFactura.creatingUser.userName}}
			         <br>
			        </p>
			        <p>
			        <button ng-if="objetoFactura.id == undefined || objetoFactura.catalogStatus.codigoInterno == 'EST_ANULADO' ? false:true" class="btn btn-danger"  ng-click="vm.openRevokeInvoiceModal()" >
			        <i class="fa fa-ban"></i> ANULAR
			        </button>
			        </p>
			       
			                  
			      </div>
        	</div>
    	</div>
    </div>
    
    
    <div class="well m-t bg-light lt">
      <div class="row">
        <div class="col-xs-6">
        
          <strong>Cliente:</strong>
          <p> {{objetoFactura.customer.comercialName}}
          
          <br>
          	Direcci&oacute;n: {{objetoFactura.customer.address}}
            Tel&eacute;fono: {{objetoFactura.customer.phone}}<br>
            Email: {{objetoFactura.customer.email}}<br>
          </p>
        </div>
        <div ng-if="objetoFactura.accesKey == undefined ? false:true " class="col-xs-6 text-right">
			        <h5>CLAVE DE ACCESO: {{objetoFactura.accesKey}}</h5> 
			         <p>
			          	N&Uacute;MERO DE AUTORIZACI&Oacute;N: {{objetoFactura.authorizationNumber}}
			         <br>
			        </p>
			        <p>
			          	FECHA DE AUTORIZACI&Oacute;N: {{objetoFactura.authDate}}
			         <br>
			        </p>
			        
			        <p>
			           {{objetoFactura.einvoiceStatus}}
			         <br>
			        </p>
			        
			        <p>
			           {{objetoFactura.mensaje}}
			         <br>
			        </p>
			        
			        
			      </div>
        
        
      </div>
    </div>
    
    <div class="line"></div>
       <table class="table table-striped bg-white b-a">
	      <thead>
	        <tr>
	          <th style="width: 60px">Cantidad</th>
	          <th>Descipci&oacute;n</th>
	          <th style="width: 140px">Vr. Unitario</th>
	          <th style="width: 90px">TOTAL</th>
	        </tr>
	      </thead>
      	  <tbody>
  			<tr ng-repeat="iterador in objetoFactura.lstInvoiceDetails">
						<td>{{iterador.quantity}}</td>
						<td>{{iterador.article.name}}</td>
						<td>{{iterador.article.price}}</td>
						<td>{{iterador.article.price * iterador.quantity}}</td>
			</tr>
		<tr>
          <td colspan="3" class="text-right"><strong>Sub total 0%</strong></td>
          <td>{{objetoFactura.totales.subTotal0}}</td>
        </tr>
        <tr>
          <td colspan="3" class="text-right"><strong>Sub total 12%</strong></td>
          <td>{{objetoFactura.totales.subTotal12}}</td>
        </tr>
        <tr>
          <td colspan="3" class="text-right"><strong>Descuento</strong></td>
          <td>{{objetoFactura.totales.descuento}}</td>
        </tr>
        <tr>
          <td colspan="3" class="text-right"><strong>Subtotal</strong></td>
          <td>{{objetoFactura.totales.subTotal}}</td>
        </tr>
        <tr>
          <td colspan="3" class="text-right"><strong>IVA 12%</strong></td>
          <td>{{objetoFactura.totales.iva}}</td>
        </tr>
        
        <tr>
          <td colspan="3" class="text-right"><strong>Total a pagar:</strong></td>
          <td>{{objetoFactura.totalValue}}</td>
        </tr>
        
	      </tbody>    
    </table>
  </div> 

</div>
