<!--<iframe id="visualizador"></iframe>-->
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">CAT&Aacute;LOGOS DEL SISTEMA</h1>
</div>
<div class="wrapper-md" ng-controller="CatalogController as vm">

    <div class="panel panel-default" ng-if="!vm.catalogObj">
        <div class="panel-heading">
            <button ng-click="vm.newCatalog()" class="btn m-b-xs btn-sm btn-primary btn-addon"><i
                    class="fa fa-plus"></i>NUEVO CAT&Aacute;LAGO
            </button>
            <button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="refresh()"><i class="fa fa-refresh"></i>ACTUALIZAR
            </button>
            <button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="vm.downloadReport();"
                    value="descargar reporte"><i class="fa fa-archive"></i>Reporte
            </button>
            <p style="float: right;">B&Uacute;SQUEDA : <input type="search" ng-model="search"
                                                              class="form-control input-sm w-sm inline m-r"
                                                              placeholder="B&uacute;squeda general"></p>
        </div>


        <div class="panel panel-default" ng-if="vm.lstGroupCatalogs">
            <div class="panel-body">
                <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped"
                       show-filter="true">

                    <tr ng-repeat="catalog in $data">
                        <td class="text-center" data-title="'C&Oacute;DIGO'">{{catalog.id}}</td>
						<td class="text-center" data-title="'C&Oacute;DIGO'">{{catalog.codigoInterno}}</td>	
                        <td data-title="'NOMBRE'">{{catalog.name}}</td>
                        <td data-title="'DESCRIPCI&Oacute;N'">{{catalog.description}}</td>
                        <td data-title="'GRUPO'" filter="{ 'catalogGroup.id': 'select'}"
                            filter-data="vm.lstGroupCatalogs">{{catalog.catalogGroup.name}}
                        </td>

                        <td align="center" data-title="'ESTADO'">
                            <i class="glyphicon"
                               ng-class="{true: 'glyphicon-ok-circle', false: 'glyphicon-ban-circle'}[catalog.status]"></i>
                        </td>

                        <td class="text-center" data-title="'ACCI&Oacute;N'" align="center">

                            <a align="center" ng-click="vm.editCatalog(catalog)" class="glyphicon glyphicon-edit"></a>

                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>


    <form name="form" class="form-validation" ng-if="vm.catalogObj">


        <tabset class="tab-container" ng-init="steps={percent:20, step1:true, step2:false, step3:false}">
            <tab heading="SELECCI&Oacute;N GRUPO" active="steps.step1" select="steps.percent=10">
                <div class="m-l-lg m-b-lg panel b-a bg-light lt">
                    <div class="panel-body">
                        <p class="m-b">PROGRESO DE CREACI&Oacute;N DE CATALOGOS</p>
                        <progressbar value="steps.percent"
                                     class="progress progress-sm progress-striped active m-t-xs m-b-none"
                                     type="info"></progressbar>
                        <h4>SELECCIONE EL GRUPO </h4>
                        <form name="step1" class="form-validation">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">GRUPO DE CATALOGOS </label>
                                <div class="col-sm-10">

                                    <ui-select ng-model="vm.catalogObj.catalogGroup" ng-theme="bootstrap" on-select="vm.selectGroup($item)">
                                        <ui-select-match placeholder="Buscar...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="catalogGroup in vm.lstGroupCatalog | filter: $select.search track by catalogGroup.id"
                                                           refresh-delay="300">
                                            <div ng-bind-html="catalogGroup.name| highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>


                                </div>
                            </div>

                        </form>
                    </div>

                </div>
                <div class="m-b-sm">
                    <div class="btn-group btn-group-justified">
                        <a ng-disabled="vm.disableStepOne" href class="btn btn-info" ng-click="steps.step2=true">SIGUIENTE</a>
                        <a href class="btn btn-warning" ng-click="vm.cancelCatalog();">CANCELAR</a>
                    </div>
                </div>
            </tab>


            <tab heading="CREACI&Oacute;N CATALOGO" disabled="vm.disableStepOne" active="steps.step2"
                 select="steps.percent=30">
                <div class="m-l-lg m-b-lg panel b-a bg-light lt">
                    <div class="panel-body">
                        <form name="step2" class="form-validation">
                            <p class="m-b">PROGRESO DE CREACI&Oacute;N DE CATALOGOS</p>
                            <progressbar value="steps.percent"
                                         class="progress progress-sm progress-striped active m-t-xs m-b-none"
                                         type="info"></progressbar>

                            <h4>INGRESE LOS DATOS </h4>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">NOMBRE:</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="vm.catalogObj.name" class="form-control"
                                               placeholder="ingrese el nombre del catalogo" required/>
                                    </div>
                                </div>

                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">DESCRIPCI&Oacute;N:</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="vm.catalogObj.description"
                                               placeholder="ingrese la descripcion del catalgo"
                                               name="description" class="form-control" required/>
                                    </div>
                                </div>

                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">C&Oacute;DIGO CAT&Aacute;LOGO INTERNO:</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="vm.catalogObj.codigoInterno"
                                               class="form-control"
                                               placeholder="ingrese el nombre del catalogo"/>
                                    </div>
                                </div>

                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">C&Oacute;DIGO CAT&Aacute;LOGO EXTERNO:</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="vm.catalogObj.codigoOrganismo"
                                               class="form-control"
                                               placeholder="ingrese el nombre del catalogo"/>
                                    </div>
                                </div>


                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">C&Oacute;DIGO CAT&Aacute;LOGO
                                        AUXILIAR:</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="vm.catalogObj.codigoAuxiliar"
                                               class="form-control"
                                               placeholder="ingrese el nombre del catalogo" required/>
                                    </div>
                                </div>

                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">ESTADO</label>
                                    <div class="col-sm-10">
                                        <label class="i-switch i-switch-md bg-info m-t-xs m-r"> <input
                                                ng-model="vm.catalogObj.status" type="checkbox" checked/>
                                            <i></i></label>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
                <div class="m-b-sm">
                    <div class="btn-group btn-group-justified">
                        <a href class="btn btn-primary" ng-click="steps.step1=true">ATR&Aacute;S</a>
                        <a ng-disabled="step2.$invalid" href class="btn btn-info"
                           ng-click="steps.step3=true">SIGUIENTE</a>
                        <a href class="btn btn-warning" ng-click="vm.cancelCatalog();">CANCELAR</a>
                    </div>
                </div>
            </tab>
            <tab heading="RESUMEN" disabled="step2.$invalid" active="steps.step3" select="steps.percent=60">
                <div class="m-l-lg m-b-lg panel b-a bg-light lt">
                    <div class="panel-body">
                        <p class="m-b">PROGRESO DE CREACI&Oacute;N DE CAT&Aacute;LOGOS</p>
                        <progressbar value="steps.percent"
                                     class="progress progress-sm progress-striped active m-t-xs m-b-none"
                                     type="info"></progressbar>

                        </br>
                        </br>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">GRUPO:</label>
                            <label class="col-sm-2 control-label">{{vm.catalogObj.catalogGroup.name}}</label>
                        </div>

                        <div class="line line-dashed b-b line-lg pull-in"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">NOMBRE:</label>
                            <label class="col-sm-2 control-label">{{vm.catalogObj.name}}</label>
                        </div>

                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">DESCRIPCI&Oacute;N:</label>
                            <label class="col-sm-2 control-label">{{vm.catalogObj.description}}</label>
                        </div>

                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">C&Oacute;DIGO:</label>
                            <label class="col-sm-2 control-label">{{vm.catalogObj.codigoInterno}}</label>
                        </div>

                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <span>
			      </span>
                    </div>
                </div>
                <div class="m-b-sm">
                    <div class="btn-group btn-group-justified">
                        <a href class="btn btn-primary" ng-click="steps.step2=true">ATR&Aacute;S</a>
                        <a ng-disabled="vm.disableStepOne" href class="btn btn-success"
                           ng-click="vm.saveCatalog()== undefined ? (steps.percent=100):''">SIGUIENTE</a>
                        <a href class="btn btn-warning" ng-click="vm.cancelCatalog();">CANCELAR</a>
                    </div>
                </div>
            </tab>
        </tabset>
    </form>
</div>