<div ng-show="vm.blnNewCompany">
    <div class="page-section" ng-hide="vm.blnEditCompany">
        <div>
            <div>
                <tabset class="tab-container" >
                    <tab heading="Compania" active="vm.steps.step[0]" select="vm.steps.percent=0">
                    	
                        <div class="m-l-lg m-b-lg panel b-a bg-light lt">
                            <div class="panel-body">
                                    <span class="label bg-info pos-rlt m-r inline wrapper-xs">
                                    <i class="arrow right arrow-info"></i> PASO 1:</span>
                                <a href class="m-r-sm">PROGRESO DE CREACI&Oacute;N DE COMPA&Ntilde;IA</a>
                                <br/>
                                <br/>
			
                               <div ng-show="vm.tipoMensaje  ? (vm.steps.percent=30)	 : (vm.steps.percent=1)">
                               </div>

                                <progressbar value="vm.steps.percent"
                                             class="progress progress-sm progress-striped active m-t-xs m-b-none"
                                             type="info"></progr|essbar>
                                </br>
                                <a href class="m-r-sm">INGRESE LA INFORMACI&Oacute;N DE LA COMPA&NtildeIA:</a>
                                </br>
                                <form name="step1" custom-submit="vm.nextTab(1)" novalidate>
                                    <div class="container">
                                        <div class="page-section">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Nombre comercial: </label>
                                                            <div class="col-sm-8" >
                                                                <input style="text-transform:uppercase" type="text"
                                                                       name="username"
                                                                       ng-class="{'has-error': ac.step1.needsAttention(step1.username)}"
                                                                       ng-change="vm.editText(vm.userSubsidiaryDto.subsidiary.company.comercialName,false)"
                                                                       ng-model="vm.userSubsidiaryDto.subsidiary.company.comercialName"
                                                                       ng-blur="vm.findCompanyByComercialName(vm.userSubsidiaryDto.subsidiary.company.comercialName)"
                                                                       class="form-control"
                                                                       placeholder="ingrese el nombre comercial"
                                                                       required/>
                                                            </div>
                                                            <div ng-if="vm.validarNombre == undefined ? false:true" class="col-sm-2">
	                                                                <span ng-show="vm.validarNombre ? true:false"
                                                                          class="pull-right label bg-success inline m-t-sm">
				       										        	 Nombre no Existente
			    													</span>
                                                                <span ng-show="!vm.validarNombre ? true:false"
                                                                      class="pull-right label bg-danger inline m-t-sm">
				       										        	 Nombre Existente
			    													</span>
                                                            </div>
                                                        </div>
                                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Raz&oacute;n social: </label>

                                                            <div class="col-sm-10">
                                                                <input type="text"
                                                                       name="socialRazon"
                                                                       ng-class="{'has-error': ac.step1.needsAttention(step1.socialRazon)}"
                                                                       ng-model="vm.userSubsidiaryDto.subsidiary.company.socialRazon"
                                                                       class="form-control"
                                                                       placeholder="Raz&oacute;n social"
                                                                       required/>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Abreviaci&oacute;n:</label>

                                                            <div class="col-sm-10">
                                                                <input type="text"
                                                                       placeholder="Ingrese la abreviaci&oacute;n de la compania (opcional)"
                                                                       ng-disabled="false"
                                                                       ng-model="vm.userSubsidiaryDto.subsidiary.company.abbreviation"
                                                                       name="abbreviation" class="form-control"/>
                                                            </div>
                                                        </div>

                                                        <div ng-if="!vm.blnCheck" class="line line-dashed b-b line-lg pull-in"></div>
                                                        <div ng-if="!vm.blnCheck" class="form-group">
                                                            <label class="col-sm-2 control-label">Tipo compania:</label>

                                                            <div class="col-sm-10">
                                                                <div ng-repeat="catTCom in vm.catalogTComList"
                                                                     class="row-fluid">
                                                                    <label class="i-checks" ng-class="{'has-error': ac.step1.needsAttention(step1.catalogCompanyType)}">
                                                                        <div ng-init="catTCom.id == vm.companyObj.catalogCompanyType.id ? (catTCom = vm.companyObj.catalogCompanyType):''" />
                                                                        <input type="radio"
                                                                               name="catalogCompanyType"
                                                                               ng-model="vm.userSubsidiaryDto.subsidiary.company.catalogCompanyType"
                                                                               ng-value="catTCom"
                                                                               ng-disabled="vm.blneditCompany"
                                                                               required/>
                                                                        <i></i>
                                                                        {{catTCom.name}}<br/>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                                        <div class="col-sm-12 checkbox m-b-md m-t-none">
												            <label class="col-sm-6 i-checks">
												              <input type="checkbox" ng-click="vm.blnCheck ? (vm.userSubsidiaryDto.subsidiary.company.catalogCompanyType= undefined): (vm.obtenerNuevoTCom())"  ng-model="vm.blnCheck"  ><i></i> Agregar un<a href> nuevo tipo de compa&ntilde;ia </a>
												            </label>
												            </br>
												         </div>

                										<div class="form-group">
                                                            <label class="col-sm-2 control-label"></label>
                                                            <div class="col-sm-10">
                                                                <input type="text" ng-if="vm.blnCheck"
                                                                       name="nameCatalog"
                                                                       ng-class="{'has-error': ac.step1.needsAttention(step1.nameCatalog)}"
                                                                       ng-model="vm.nameCatalog"
                                                                       class="form-control"
                                                                       placeholder="ingrese el nuevo tipo de compa&ntilde;ia"
                                                                       required/>
                                                            </div>
                                                        </div>

                                                        
                                                        
                                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Ruc: </label>

                                                            <div class="col-sm-8">
                                                                <input type="text"
                                                                       name="ruc"
                                                                       ng-class="{'has-error': ac.step1.needsAttention(step1.ruc)}"
                                                                       ng-blur="vm.procesoValidacion(vm.userSubsidiaryDto.subsidiary.company.ruc)"
                                                                       ng-model="vm.userSubsidiaryDto.subsidiary.company.ruc"
                                                                       class="form-control"
                                                                       placeholder="ingrese el ruc de la compania"
                                                                       required/>
                                                            </div>
                                                            <div ng-if="vm.tipoMensaje ==undefined ? false:true" class="col-sm-2">
	                                                                <span ng-show="vm.tipoMensaje"
                                                                          class="pull-right label bg-success inline m-t-sm">
				       										        	 {{vm.mensajeValidacionNumero}}

			    													</span>
                                                                <span ng-show="!vm.tipoMensaje"
                                                                      class="pull-right label bg-danger inline m-t-sm">
				       										        	 {{vm.mensajeValidacionNumero}}
			    													</span>
                                                            </div>
                                                        </div>

                                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Direcci&oacute;n
                                                                matriz:</label>

                                                            <div class="col-sm-10">
                                                                <input type="text"
                                                                       name="address"
                                                                       ng-class="{'has-error': ac.step1.needsAttention(step1.address)}"
                                                                       placeholder="Direcci&oacute;n de la matriz"
                                                                       ng-model="vm.userSubsidiaryDto.subsidiary.company.address"
                                                                       name="address" class="form-control"
                                                                       required/>
                                                            </div>
                                                        </div>
                                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Moneda:</label>

                                                            <div class="panel-body">
                                                                <div class="col-sm-10">
                                                                    <div ng-repeat="catCoin in vm.catalogCoinList"
                                                                         class="row-fluid">
                                                                        <label class="i-checks"
                                                                               ng-class="{'has-error': ac.step1.needsAttention(step1.catalogMoney)}">
                                                                            <div ng-init="catCoin.id == vm.companyObj.catalogMoney.id ?(catCoin = vm.companyObj.catalogMoney):''"/>
                                                                            <input type="radio"
                                                                                   name="catalogMoney"
                                                                                   ng-model="vm.userSubsidiaryDto.subsidiary.company.catalogMoney"
                                                                                   ng-value="catCoin"
                                                                                   ng-disabled="vm.blneditCompany"
                                                                                   required/>
                                                                            <i></i>

                                                                            {{catCoin.name}}<br/>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                                        <div class="form-group">

                                                            <label class="col-sm-2 control-label">Actividad comercial:</label>

                                                            <div class="col-sm-10">
                                                                <ui-select ng-model="vm.userSubsidiaryDto.subsidiary.company.catalogComercialActivity" ng-theme="bootstrap" on-select="vm.submitCustomerItem($item) ? (vm.numeroValidado=true):''">
                                                                    <ui-select-match placeholder="Busqueda de actividad comercial...">{{$select.selected.name}}</ui-select-match>
                                                                    <ui-select-choices repeat="actividadComercial in vm.catalogAComList | filter: $select.search track by actividadComercial.id"
                                                                                       refresh="vm.searchCompany($select)" refresh-delay="300">
                                                                        <div ng-bind-html="actividadComercial.name| highlight: $select.search"></div>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="m-b-sm">
                                        <div class="row">
                                            <button type="submit" href class="btn btn-info col-sm-6" >SIGUIENTE</button>
                                            <button href class="btn btn-warning col-sm-6" ng-click="vm.cancelCompany();">CANCELAR</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Sucursal" disabled="step1.$invalid" active="vm.steps.step[1]"
                         select="vm.steps.percent=30">
                        <div class="m-l-lg m-b-lg panel b-a bg-light lt">
                            <div class="panel-body">
                                <div ng-if="!step2.$invalid ? (vm.steps.percent=60): (vm.steps.percent=30)">
                                </div>

                                <span class="label bg-info pos-rlt m-r inline wrapper-xs"><i
                                        class="arrow right arrow-info"></i> PASO 2:</span> <a href class="m-r-sm">PROGRESO
                                DE CREACI&Oacute;N DE COMPANIA</a>
                                <br/>
                                <br/>

                                <progressbar value="vm.steps.percent"
                                             class="progress progress-sm progress-striped active m-t-xs m-b-none"
                                             type="info"></progressbar>
                                </br>
                                <a href class="m-r-sm">INGRESE LA INFORMACI&Oacute;N DE LA SUCURSAL:</a>
                                </br>
                                </br>
                                <form name="step2" class="form-validation" custom-submit="vm.nextTab(2)" novalidate>
                                    <div class="container">
                                        <div class="page-section">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Nombre: </label>

                                                        <div class="col-sm-10">
                                                            <input type="text" style="text-transform:uppercase"
                                                                   name="subsidiaryName"
                                                                   ng-class="{'has-error': ac.step2.needsAttention(step2.subsidiaryName)}"
                                                                   ng-model="vm.userSubsidiaryDto.subsidiary.name"
                                                                   class="form-control"
                                                                   placeholder="ingrese el nombre de la sucursal"
                                                                   required/>
                                                        </div>
                                                    </div>

                                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Direcci&oacute;n:</label>

                                                        <div class="col-sm-10">
                                                            <input type="text"
                                                                   name="address"
                                                                   ng-class="{'has-error': ac.step2.needsAttention(step2.address)}"
                                                                   placeholder="ingrese la direccion de la sucursal"
                                                                   ng-model="vm.userSubsidiaryDto.subsidiary.address"
                                                                   name="address" class="form-control" required/>
                                                        </div>
                                                    </div>

                                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Representante:</label>

                                                        <div class="col-sm-10">
                                                            <input type="text"
                                                                   placeholder="ingrese el representante"
                                                                   ng-model="vm.userSubsidiaryDto.subsidiary.representantive"
                                                                   name="representante"
                                                                   class="form-control"/>
                                                        </div>
                                                    </div>

                                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Tel&eacute;fono:</label>

                                                        <div class="col-sm-10">
                                                            <input type="text"
                                                                   placeholder="ingrese el tel&eacute;fono"
                                                                   ng-model="vm.userSubsidiaryDto.subsidiary.phone"
                                                                   name="phone"
                                                                   class="form-control"/>
                                                        </div>
                                                    </div>
                                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


									
                                    <div class="row">
                                        <button href class="btn btn-primary col-sm-4" ng-click="vm.steps.step[0]=true">ATR&Aacute;S</button>
                                        <button type="submit" href class="btn btn-info col-sm-4" >SIGUIENTE</button>
                                        <button href class="btn btn-warning col-sm-4" ng-click="vm.cancelCompany();">CANCELAR</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </tab>


                    <tab heading="Usuario" disabled="step2.$invalid" active="vm.steps.step[2]">
                        <div class="m-l-lg m-b-lg panel b-a bg-light lt">
                            <div class="panel-body">
                                <span class="label bg-info pos-rlt m-r inline wrapper-xs"><i
                                        class="arrow right arrow-info"></i> PASO 3:</span>
                                <a href class="m-r-sm">PROGRESO DE CREACI&Oacute;N DE COMPANIA</a>
                                </br>
                                <div ng-if="!step3.$invalid ? (vm.steps.percent=90): (vm.steps.percent=60)">
                                </div>

                                </br>
                                <progressbar value="vm.steps.percent" class="progress progress-sm progress-striped active m-t-xs m-b-none" type="info"></progressbar>
                                </br>
                                <a href class="m-r-sm">INGRESE LA INFORMACI&Oacute;N DEL USUARIO:</a>
                                </br>
                                </br>

                                <form name="step3" class="form-validation">
                                    <div class="container">
                                        <div class="page-section">
                                            <div ng-init="vm.userSubsidiaryDto.subsidiary.company.abbreviation=''"/>
                                            <div ng-init="vm.cargarFormato()"/>

                                            <div class="row">
                                                <div class="col-md-8">

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Nombre de
                                                            usuario: </label>

                                                        <div class="col-sm-5">
                                                            <input ng-disabled="true" type="text"
                                                                   ng-model="vm.nombreUsuario" class="form-control"
                                                                   placeholder="ingrese el nombre del usuario"
                                                                   required/>
                                                        </div>

                                                        <div class="col-sm-5">
                                                            <input type="text" ng-disabled="true"
                                                                   ng-model="vm.userSubsidiaryDto.subsidiary.company.abbreviation"
                                                                   class="form-control" required/>
                                                        </div>

                                                    </div>


                                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                                    <div class="form-group">

                                                        <label class="col-sm-2 control-label">Clave: </label>

                                                        <div class="col-sm-10">
														<input type="password" class="form-control" name="password" ng-model="vm.userSubsidiaryDto.user.password" required>
                                                        </div>

                                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                                        <label class="col-sm-2 control-label">Confirmar clave: </label>

                                                        <div class="col-sm-10">
														<input type="password" ng-blur="vm.validatePassword(vm.userSubsidiaryDto.user.password,vm.confirm_password) ? (vm.validate= true):(vm.validate= false)" class="form-control" name="confirm_password" required
                                                                   ng-model="vm.confirm_password"
                                                                   ui-validate=" '$value==vm.userSubsidiaryDto.user.password ' "
                                                                   ui-validate-watch=" 'password' ">

                                                            <span ng-show='vm.validate == false ? true: false '>Las claves no coinciden</span>
                                                        </div>
                                                    </div>


                                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">email:</label>

                                                        <div class="col-sm-10">
                                                            <input type="email"
                                                                   placeholder="ingrese el mail del usuario"
                                                                   ng-model="vm.userSubsidiaryDto.user.email"
                                                                   class="form-control" required/>
                                                        </div>
                                                    </div>
                                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-b-sm">
						                            <div class="btn-group btn-group-justified">
						                                <a href class="btn btn-primary" ng-click="vm.steps.step[1]=true">ATRAS</a>
						                                <a ng-hide="step3.$invalid" href class="btn btn-info" ng-click="vm.steps.step[3]=true">SIGUIENTE</a>
						                                <a ng-show="step3.$invalid" href class="btn btn-default">SIGUIENTE</a>
						                                <a href class="btn btn-warning" ng-click="vm.cancelCompany();">CANCELAR</a>
						                            </div>
				                    </div>
                                </form>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Overview"  active="vm.steps.step[3]">
                        <div class="m-l-lg m-b-lg panel b-a bg-light lt">
                            <div class="panel-body">
                             <span class="label bg-info pos-rlt m-r inline wrapper-xs">
                             	<i class="arrow right arrow-info"></i> PASO 4:
                             </span> 
                             <a href class="m-r-sm">PROGRESO DE CREACI&Oacute;N DE COMPANIA</a>
                                <br/>
                                <br/>


                                <progressbar value="vm.steps.percent"
                                             class="progress progress-sm progress-striped active m-t-xs m-b-none"
                                             type="info"></progressbar>
                                <br/>
                                <br/>


                                <div class="col-md-15">
                                    <div class="panel no-border">
                                        <div class="panel-heading wrapper b-b b-light">
									              <span class="text-xs text-muted pull-right">
									                <i class="fa fa-circle text-primary m-r-xs"></i> 5/8
									                <i class="fa fa-circle text-info m-r-xs m-l-sm"></i> 3/4
									                <i class="fa fa-circle text-warning m-r-xs m-l-sm"></i> 2/2
									              </span>
                                            <h4 class="font-thin m-t-none m-b-none text-muted">
                                                VERIFICACI&Oacute;N</h4>
                                        </div>
                                        <ul class="list-group list-group-lg m-b-none">
                                            <li class="list-group-item">

                                                <div>
                                                    <a class="pull-left thumb-sm avatar m-l-n-md">
                                                        <img src="img/icono_companies.jpg" alt="...">
                                                    </a>
                                                    <span class="pull-right label bg-primary inline m-t-sm">COMPA&Ntilde;IA</span>

                                                    <div class="m-l-lg m-b-lg panel b-a bg-light lt">
                                                        <div class="panel-body">
                                                            <label class="col-sm-3 control-label" translate="label.global.nombre">Nombre:</label>
                                                            <label class="col-sm-3 control-label">{{vm.userSubsidiaryDto.subsidiary.company.comercialName}}</label>

                                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                                            <label class="col-sm-3 control-label"
                                                                   translate="label.global.tipo">Tipo:</label>
                                                            <label class="col-sm-3 control-label">{{vm.userSubsidiaryDto.subsidiary.company.catalogCompanyType.name}}</label>

                                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                                            <label class="col-sm-3 control-label">Ruc:</label>
                                                            <label class="col-sm-3 control-label">{{vm.userSubsidiaryDto.subsidiary.company.ruc}}</label>

                                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                                            <label class="col-sm-3 control-label">Direcci&oacute;n:</label>
                                                            <label class="col-sm-3 control-label">{{vm.userSubsidiaryDto.subsidiary.company.address}}</label>

                                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                                            <label class="col-sm-3 control-label">Moneda:</label>
                                                            <label class="col-sm-3 control-label">{{vm.userSubsidiaryDto.subsidiary.company.catalogMoney.name}}</label>

                                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                                            <label class="col-sm-3 control-label">Actividad comercial:</label>
                                                            <label class="col-sm-3 control-label">{{vm.userSubsidiaryDto.subsidiary.company.catalogComercialActivity.name}}</label>


                                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                                            <label class="col-sm-3 control-label">Abreviaci&oacute;n:</label>
                                                            <label class="col-sm-3 control-label">{{vm.userSubsidiaryDto.subsidiary.company.abbreviation}}</label>

                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item">

                                                <div>
                                                    <a class="pull-left thumb-sm avatar m-l-n-md">
                                                        <img src="img/subsidiary-icon.jpg" alt="...">
                                                    </a>
                                                    <span class="pull-right label bg-info inline m-t-sm">SUCURSAL</span>
                                                    <div class="m-l-lg m-b-lg panel b-a bg-light lt">
			<div ng-if="!step3.$invalid  && vm.userSubsidiaryDto.subsidiary.company.catalogCompanyType.id == undefined  ? (vm.obtenerNuevoTCom()): ''">
			</div>
                                                        <div class="panel-body">
                                                            <label class="col-sm-3 control-label">Nombre:</label>
                                                            <label style="text-transform:uppercase"
                                                                   class="col-sm-3 control-label">{{vm.userSubsidiaryDto.subsidiary.name}}</label>

                                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                                            <label class="col-sm-3 control-label">Direcci&oacute;n:</label>
                                                            <label class="col-sm-3 control-label">{{vm.userSubsidiaryDto.subsidiary.address}}</label>

                                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                                            <label class="col-sm-3 control-label">Representante:</label>
                                                            <label class="col-sm-3 control-label">{{vm.userSubsidiaryDto.subsidiary.representantive}}</label>

                                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                                            <label class="col-sm-3 control-label">Tel&eacute;fono:</label>
                                                            <label class="col-sm-3 control-label">{{vm.userSubsidiaryDto.subsidiary.phone}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div>
                                                    <a class="pull-left thumb-sm avatar m-l-n-md">
                                                        <img src="img/person.jpg" alt="...">
                                                    </a>
                                                    <span class="pull-right label bg-warning inline m-t-sm">USUARIO</span>

                                                    <div class="m-l-lg m-b-lg panel b-a bg-light lt">
                                                        <div class="panel-body">

                                                            <label class="col-sm-3 control-label">Nombre:</label>
                                                            <label class="col-sm-3 control-label">{{vm.nombreUsuario}}</label>

                                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                                            <label class="col-sm-3 control-label">Email:</label>
                                                            <label class="col-sm-3 control-label">{{vm.userSubsidiaryDto.user.email}}</label>

                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="m-b-sm">
                            <div class="btn-group btn-group-justified">
                                <a href class="btn btn-primary" ng-click="vm.steps.step[2]=true">ATRAS</a>
                                <a href class="btn btn-success"
                                   ng-click="vm.saveObject (vm.userSubsidiaryDto,true )== true ? (vm.steps.step1=true):''">GUARDAR</a>
                                <a href class="btn btn-warning" ng-click="vm.cancelCompany();">CANCELAR</a>
                            </div>
                        </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>