<div ng-if="vm.blnEditCompany">
    <form name="form" class="form-validation">
        <div class="panel panel-default">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">
                    <span translate="label.global.detalle"></span>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="label.global.nombre">Nombre: </label>

                        <div class="col-sm-10">
                            <input style="text-transform:uppercase" type="text" ng-model="vm.companyObj.comercialName"
                                   class="form-control" placeholder="ingrese el nombre comercial"
                                   required/>
                        </div>
                    </div>

                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="label.global.tipo">Tipo:</label>

                        <div class="col-sm-10">
                            <ui-select ng-model="vm.companyObj.catalogCompanyType"
                                       theme="select2"
                                       ng-disabled="disabled"
                                       reset-search-input="true">
                                <ui-select-match placeholder="Buscar...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="catTCom in vm.catalogTComList track by $index"
                                                   refresh-delay="0">
                                    <div ng-bind-html="catTCom.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>


                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="label.global.ruc">Ruc: </label>

                        <div class="col-sm-10">
                            <input type="text" ng-model="vm.companyObj.ruc"
                                   class="form-control" placeholder="ingrese el ruc de la compania"
                                   required/>
                        </div>
                    </div>

                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="label.modulo.compania.razon_social">Raz&oacute;n
                            social: </label>

                        <div class="col-sm-10">
                            <input type="text" ng-model="vm.companyObj.socialRazon"
                                   class="form-control" placeholder="ingrese la razon social"
                                   required/>
                        </div>
                    </div>


                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="label.global.direccion">Direcci&oacute;n
                            matriz:</label>

                        <div class="col-sm-10">
                            <input type="text"
                                   placeholder="ingrese la direccion de la bodega"
                                   ng-model="vm.companyObj.address" name="address"
                                   class="form-control" required/>
                        </div>
                    </div>

                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="label.modulo.compania.moneda">Moneda:</label>

                        <div class="col-sm-10">
                            <ui-select ng-model="vm.companyObj.catalogMoney"
                                       theme="select2"
                                       ng-disabled="disabled"
                                       reset-search-input="true">
                                <ui-select-match placeholder="Buscar...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="catCoin in vm.catalogCoinList track by $index"
                                                   refresh-delay="0">
                                    <div ng-bind-html="catCoin.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="label.modulo.compania.clave_acceso">Clave de
                            acceso:</label>

                        <div class="col-sm-10">
                            <input type="text"
                                   placeholder="ingrese la clave de acceso (opcional)"
                                   ng-model="vm.companyObj.accesPassword" name="accesPassword"
                                   class="form-control"/>
                        </div>
                    </div>

                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="label.modulo.compania.abreviacion">Abreviaci&oacute;n:</label>

                        <div class="col-sm-10">
                            <input type="text"
                                   placeholder="ingrese la abreviacion de la compania (opcional)"
                                   ng-model="vm.companyObj.abbreviation" name="abbreviation"
                                   class="form-control"/>
                        </div>
                    </div>


                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="label.modulo.compania.actividad_comercial">Actividad
                            comercial:</label>

                        <div class="col-sm-10">
                            <ui-select ng-model="vm.companyObj.catalogComercialActivity"
                                       theme="select2"
                                       ng-disabled="disabled"
                                       reset-search-input="true">
                                <ui-select-match placeholder="Buscar...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="catACom in vm.catalogAComList track by $index"
                                                   refresh-delay="0">
                                    <div ng-bind-html="catACom.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                </div>

            </div>
            <div class="m-b-sm">
                <div class="btn-group btn-group-justified">
                    <a ng-hide="!form.$invalid" href class="btn btn-default"
                       translate="label.global.guardar">GUARDAR</a>
                    <a ng-hide="form.$invalid" href class="btn btn-success" translate="label.global.guardar"
                       ng-click="vm.saveCompany(vm.companyObj,vm.companyObj.status)">GUARDAR</a>
                    <a href class="btn btn-info" ng-click="vm.cancelCompany()" translate="label.global.cancelar">CANCELAR</a>
                </div>
            </div>

        </div>

    </form>
</div>