<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">EDITAR DATOS USUARIO</h1>
</div>
<div class="wrapper-md" ng-controller="PersonController as vm">

    <alert ng-repeat="alert in vm.alerts" type="{{alert.type}}">{{alert.msg}}</alert>
    <div class="animated fadeInDown delay">



        <form name="formPerson" class="form-validation" ng-if="!vm.personObj">
            <div class="col">
                <div class="bg-info dker">
                    <div class="wrapper-lg ">
                        <div class="row m-t">
                            <div class="col-sm-7">
                                <a href class="thumb-lg pull-left m-r">
                                    <img src="img/person.jpg" class="img-circle">
                                </a>
                                <div class="clear m-b">
                                    <div class="m-b m-t-sm">
                                        <label class="h3 text-black col-md-12"
                                               ng-bind="vm.personObj.firstName == undefined ? ('NUEVA PERSONA'): (vm.personObj.firstName +' '+ vm.personObj.firstLastName  )"></label>

                                        <label class="col-md-12"
                                               ng-bind="vm.personObj.address == undefined ? (''): (vm.personObj.address)"></label>

                                    </div>
                                    <p class="m-b">
                                        <a href class="btn btn-lg btn-bg btn-rounded btn-default btn-icon"><i
                                                class="fa fa-twitter"></i></a>
                                        <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i
                                                class="fa fa-facebook"></i></a>
                                        <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i
                                                class="fa fa-google-plus"></i></a>
                                    </p>


                                    <button class="btn btn-sm btn-warning btn-rounded" ng-click="vm.editPersonObj()">
                                        EDITAR
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="pull-right pull-none-xs text-center">
                                    <a href class="m-b-md inline m">
                                        <span class="h3 block font-bold">esyacelga</span>
                                        <small>Register by</small>
                                    </a>
                                    <a href class="m-b-md inline m">
                                        <span class="h3 block font-bold">2016/01/01</span>
                                        <small>Register date</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
            	<ui-persona person-directive="vm.personObjeto" tag-edition="vm.activeDirective" valor-validador="vm.validador" active-directive="vm.activeDirective"></ui-persona>
            </div>
            <div class="wrapper bg-white b-b">
                <ul class="nav nav-pills nav-sm">
		      	<span class="text-muted m-l-sm">
			   		<div class="btn-group btn-group-justified">
		            	<a href class="btn btn-success" ng-click="formPerson.$valid ?vm.savePerson(vm.personObjeto,true):vm.alertRequiredFields()">GUARDAR</a>
		                <a href class="btn btn-warning" ng-click="vm.cancelPerson();">CANCELAR</a>
		             </div>
			   	</span>
                </ul>
            </div>
        </form>
    </div>
</div>