<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">LOCALIZACI&Oacute;N GEOGR&Aacute;FICA</h1>
</div>


<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="GeoLocationController as vm">

    <div class="row">
        <div class="col-md-4 wrapper-md">
            <div class="panel panel-default">
                <div class="panel-heading font-bold" ng-if="!vm.output">
                    INGRESE LOS DATOS
                </div>

                <div class="panel-heading font-bold" ng-if="vm.output">
                    CREA UN NUEVO REGISTRO BAJO DE:
                    <span class="label bg-info">{{vm.output}}</span>
                </div>

                <div class="panel-body has-error">
                    <form name="form" class="form-validation">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" ng-model="vm.geoLocationObj.label" class="form-control" required>
                        </div>
                        
                        
                        <div class="line b-b line-lg"></div>
         	            <div ng-if="vm.objData" class="form-group">
         	            <label>Tipo Lugar</label>
        	                            <ui-select  theme="bootstrap" ng-model="vm.geoLocationObj.catalogoPlaceType">
					                        <ui-select-match placeholder="seleccione..">{{$select.selected.name}}</ui-select-match>
					                        <ui-select-choices
					                                repeat="iterador in vm.lstTipos | filter: $select.search track by iterador.id"
					                                refresh="vm.searchType($select)" refresh-delay="300">
					                            <div ng-bind-html="iterador.name | highlight: $select.search"></div>
					                        </ui-select-choices>
					                    </ui-select>
    	                </div>

                        
                        <div class="line b-b line-lg"></div>
                        <button type="button"  ng-disabled="form.$invalid" ng-click="vm.saveGeoLocation()"
                                class="btn btn-sm btn-primary">Guardar</button>

                        <button ng-click="vm.deselectBranch()" ng-disabled="!vm.output"
                                class="btn btn-success btn-sm"><i class="fa fa-fw m-r-xs fa-plus"></i>Desmarcar</button>
                                
                         <button type="reset" ng-if="vm.objData" ng-click="vm.obtenerGeoLoaction()" ng-disabled="!vm.output"
                                class="btn btn-info btn-sm"><i class="fa fa-fw m-r-xs fa-pencil"></i>Editar</button>         
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8">

            <div class="col-md-6">
                <div class="wrapper-md">
                    <div class="b-a bg-light dk r r-2x">
                        <abn-tree
                                tree-data         = "vm.my_data"
                                tree-control      = "vm.my_tree"
                                on-select         = "vm.my_tree_handler(branch)"
                                expand-level      = "2"
                                initial-selection = "Granny Smith"
                                icon-leaf         = "fa fa-file-o"
                                icon-expand       = "fa fa-plus"
                                icon-collapse     = "fa fa-minus"
                                >
                        </abn-tree>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>
