<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3"
		translate="aside.nav.modules.company.company"></h1>
</div>

<div class="wrapper-md" ng-controller="MyCompanyController as vm">
	<alert ng-repeat="alert in vm.alerts" type="{{alert.type}}">{{alert.msg}}</alert>
	<form name="perfilcopania" class="form-validation" novalidate>
		<div class="hbox hbox-auto-xs hbox-auto-sm">
			<div class="col">
				<div class="bg-black">
					<div class="wrapper-lg ">
						<div class="row m-t">
							<div class="col-sm-7">
								<a href class="thumb-lg pull-left m-r"> <img
									src="img/icono_companies.jpg" class="img-circle">
								</a>
								<div class="clear m-b">
									<div class="m-b m-t-sm">
										<label style="text-transform: uppercase" class="h3 text-black"
											ng-bind="vm.currentCompany.comercialName"></label> <label
											class="m-l" ng-bind="vm.currentCompany.socialRazon"></label>

									</div>
									<p class="m-b">
										<a href
											class="btn btn-lg btn-bg btn-rounded btn-default btn-icon"><i
											class="fa fa-twitter"></i></a> <a href
											class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i
											class="fa fa-facebook"></i></a> <a href
											class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i
											class="fa fa-google-plus"></i></a>
									</p>
									<button ng-show="vm.blneditCompany" class="btn btn-sm btn-info btn-rounded" ng-click="vm.editCompanyObj()" translate="label.global.editar">EDITAR</button>
									<button ng-hide="vm.blneditCompany" class="btn btn-sm btn-primary btn-rounded" ng-click="vm.blneditCompany=true">CANCELAR</button>
								</div>
							</div>
							<div class="col-sm-5">
								<div class="pull-right pull-none-xs text-center">
									<a href class="m-b-md inline m"> <span
										class="h3 block font-bold"> <small>{{vm.currentCompany.ruc}}</small>

									</span> <small translate="label.global.ruc">RUC</small>

									</a> <a href class="m-b-md inline m"> <span
										class="h3 block font-bold"> <small>{{vm.currentCompany.creatingDate}}</small>
									</span> <small>Register date</small>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="wrapper bg-white b-b">
					<ul class="nav nav-pills nav-sm">
					</ul>
				</div>


				<div class="padder">
					<div class="streamline b-l b-info m-l-lg m-b padder-v">



						<div>
							<a class="pull-left thumb-sm avatar m-l-n-md"> <img
								src="img/icono_companies.jpg" alt="...">
							</a>
							<div class="m-l-lg m-b-lg panel b-a bg-light lt">
								<div class="panel-heading pos-rlt b-light">
									<span class="arrow arrow-light left"></span>

								</div>
								<div class="panel-body">
									<label class="col-sm-2 control-label"
										translate="label.modulo.compania.nombre_comercial">Nombre
										comercial: </label> <input style="text-transform: uppercase"
										type="text" ng-model="vm.currentCompany.comercialName"
										class="form-control" placeholder="ingrese el nombre comercial"
										ng-disabled="vm.blneditCompany" required />
									<div class="line line-dashed b-b line-lg pull-in"></div>
									<label class="col-sm-2 control-label"
										translate="label.modulo.compania.razon_social">Raz&oacute;n
										social: </label> <input type="text"
										ng-model="vm.currentCompany.socialRazon" class="form-control"
										placeholder="ingrese la raz&oacute;n social"
										ng-disabled="vm.blneditCompany" required />

									<div class="line line-dashed b-b line-lg pull-in"></div>

									<label class="col-sm-2 control-label"
										translate="label.modulo.compania.abreviacion">Abreviaci&oacute;n:
									</label> <input type="text" ng-model="vm.currentCompany.abbreviation"
										class="form-control" placeholder="ingrese la abreviaci&oacute;n de la compa&ntilde;ia (@micompany.com)"
										ng-disabled="true" required />

									<div class="line line-dashed b-b line-lg pull-in"></div>

									<label class="col-sm-2 control-label"
										translate="label.modulo.compania.pagina_web">Pagina
										Web: </label> <input type="text" ng-model="vm.currentCompany.webPage"
										class="form-control" placeholder="pagina web (opcional)"
										ng-disabled="vm.blneditCompany"  />


									<div class="line line-dashed b-b line-lg pull-in"></div>

									<label class="col-sm-2 control-label"
										translate="label.global.ruc">RUC: </label> <input type="text"
										ng-model="vm.currentCompany.ruc" class="form-control"
										placeholder="ingrese el RUC" ng-disabled="true" required />

									<div class="line line-dashed b-b line-lg pull-in"></div>

									<label class="col-sm-2 control-label">KEY: </label> <input
										type="text" ng-model="vm.currentCompany.accesPassword"
										class="form-control"
										placeholder="ingrese el c&oacute;digo num&eacute;rico (opcional si no posee facturaci&oacute;n electr&oacute;nica)"
										ng-disabled="vm.blneditCompany"/>

								</div>
							</div>
						</div>

						<div>
							<a class="pull-left thumb-sm avatar m-l-n-md"> <img
								src="img/monedas-billetes.jpg" alt="...">
							</a>
							<div class="m-l-lg m-b-lg panel b-a bg-light lt">
								<div class="panel-heading pos-rlt b-light">
									<span class="arrow arrow-light left"></span> <label
										class="col-sm-2 control-label"
										translate="label.modulo.compania.moneda">Moneda:</label>

								</div>
								<div class="panel-body">
									<div class="col-sm-10">

										<div ng-repeat="catCoin in vm.catalogCoinList"
											class="row-fluid">
											<label class="i-checks">
												<div
													ng-init="catCoin.id == vm.currentCompany.catalogMoney.id ?(catCoin = vm.currentCompany.catalogMoney):''" />
												<input type="radio"
												ng-model="vm.currentCompany.catalogMoney" ng-value="catCoin"
												ng-disabled="vm.blneditCompany" required /> <i></i>
												{{catCoin.name}}<br />
											</label>
										</div>



									</div>
								</div>
							</div>
						</div>



						<div>
							<a class="pull-left thumb-sm avatar m-l-n-md"> <img
								src="img/tipo-empresa.jpg" alt="...">
							</a>
							<div class="m-l-lg m-b-lg panel b-a bg-light lt">
								<div class="panel-heading pos-rlt b-light">
									<span class="arrow arrow-light left"></span> <label
										class="col-sm-2 control-label"
										translate="label.modulo.compania.actividad_comercial">Actividad comercial:</label>
								</div>
								<div class="panel-body">
									<div class="col-sm-10">
										<div class="form-group">
											<div class="col-sm-9">
												<input type="text"
													ng-model="vm.currentCompany.catalogComercialActivity"
													ng-disabled="vm.blneditCompany"
													typeahead="actividadComercial as actividadComercial.name  for actividadComercial in vm.catalogAComList | filter:$viewValue | limitTo:8"
													class="form-control col-sm-6 input-sm"
													placeholder="B&uacute;squeda de actividad comercial..." />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>



						<div>
							<a class="pull-left thumb-sm avatar m-l-n-md"> <img
								src="img/actividad-comercial.jpg" alt="...">
							</a>
							<div class="m-l-lg m-b-lg panel b-a bg-light lt">
								<div class="panel-heading pos-rlt b-light">
									<span class="arrow arrow-light left"></span> <label
										class="col-sm-2 control-label" translate="label.global.tipo">Tipo compa&ntilde;ia:</label>
								</div>
								<div class="panel-body">
									<div class="col-sm-10">
										<div ng-repeat="catTCom in vm.catalogTComList"
											class="row-fluid">
											<label class="i-checks">
												<div
													ng-init="catTCom.id == vm.currentCompany.catalogCompanyType.id ? (catTCom = vm.currentCompany.catalogCompanyType):''" />
												<input type="radio"
												ng-model="vm.currentCompany.catalogCompanyType"
												ng-value="catTCom" ng-disabled="vm.blneditCompany" required />
												<i></i> {{catTCom.name}}<br />
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div>
							<a class="pull-left thumb-sm avatar m-l-n-md"> <img
								src="img/icon-phone.jpg" alt="...">
							</a>
							<div class="m-l-lg m-b-lg panel b-a bg-light lt">
								<div class="panel-heading pos-rlt b-light">
									<span class="arrow arrow-light left"></span> <label
										class="col-sm-2 control-label"
										translate="label.global.telefono">Tel&eacute;fonos </label>
								</div>
								<div class="panel-body">

									<label class="col-sm-2 control-label">Tel&eacute;fono principal </label> 
									<input type="text" name= "principal-phone"
										ng-class="{'has-error': ac.perfilcopania.needsAttention(perfilcopania.principal-phone)}"
										ng-model="vm.currentCompany.principalPhone"
										class="form-control"
										placeholder="ingrese el tel&eacute;fono principal"
										ng-disabled="vm.blneditCompany" required />
									<div class="line line-dashed b-b line-lg pull-in"></div>
									<label class="col-sm-2 control-label">Tel&eacute;fono secundario </label> 
									<input type="text"
										ng-model="vm.currentCompany.auxiliarPhone"
										class="form-control"
										placeholder="ingrese el tel&eacute;fono secundario (opcional)" 
										ng-disabled="vm.blneditCompany" />

								</div>
							</div>
						</div>

					</div>
				</div>

				<span ng-hide="vm.blneditCompany" class="text-muted m-l-sm">
							<div class="btn-group btn-group-justified">
								<a ng-disabled="perfilcopania.$invalid" href class="btn btn-success" ng-click="vm.saveCompany()">GUARDAR</a>
								<a href class="btn btn-primary" ng-click="vm.blneditCompany=true">CANCELAR</a>
							</div>
				</span>
			</div>

			<div class="col w-lg bg-light lter b-l bg-auto">
				<div class="wrapper">
					<div class="">
						<h4 class="m-t-xs m-b-xs">Usuarios del sistema</h4>

						<ul class="list-group no-bg no-borders pull-in">
							<div ng-repeat="iterador in vm.lstUsuarios">
								<li class="list-group-item"><a herf
									class="pull-left thumb-sm avatar m-r"> <img
										src="img/person.jpg" alt="..." class="img-circle"> <i
										class="on b-white bottom"></i>
								</a>
									<div class="clear">
										<div>
											<a href>{{iterador.userName}}</a>
										</div>
										<small class="text-muted">{{iterador.person.firstLastName}}
											{{iterador.person.firstName}}</small>
									</div></li>
							</div>
						</ul>
					</div>

					<div class="panel b-light clearfix">
						<div class="panel-body">
							<a href class="thumb pull-left m-r"> <img
								src="img/ico_admin.jpg" class="img-circle">
							</a>
							<div class="clear">
								<a href class="text-info">Administrador <i
									class="fa fa-user-secret"></i></a> <small class="block text-muted">022873122
									/ 0999938568</small> <a href class="btn btn-xs btn-success m-t-xs">esyacelga@hotmail.com</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>